<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<title>Zelle®</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132065149-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132065149-6', {'page_title' : '99999 Ocean Bank Zelle Landing A'});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
<style>
#f92-wrapper * {
	box-sizing: border-box;
	position: relative;
}
#f92-wrapper {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 2.11;
	letter-spacing: 0.1vw;
	visibility: visible !important;
	opacity: 1 !important;
}
@media (min-width: 768px){
#f92-wrapper {
	font-size: 1.81vw;
}
}
@media (min-width: 992px){
#f92-wrapper {
	letter-spacing: 1px;
	font-size: 18px;
}
}
#f92-wrapper img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	border-style: none;
}
#f92-wrapper-inner {
	max-width: 992px;
	margin: 0 auto;
}
#f92-wrapper .f92 {
	padding: 36px 18px;
}
#f92-wrapper .f92.f92-super {
	display: table;
	width: 100%;
}
#f92-wrapper .f92.f92-super .f92-super-cell {
	display: table-cell;
	vertical-align: middle;
}
#f92-wrapper .f92.f92-super .f92-super-cell-left {
	width: calc(50% - 1px);
	text-align: right;
	padding-right: 14px;
}
#f92-wrapper .f92.f92-super .f92-super-cell-center {
	width: 1px;
}
#f92-wrapper .f92.f92-super .f92-super-cell-right {
	width: 50%;
	text-align: left;
}
#f92-wrapper .f92.f92-super .f92-bank-logo {
	max-height: 20px;
	max-width:300px;
}
#f92-wrapper .f92.f92-super .f92-div {
	width: 1px;
	height: 20px;
	background: #000;
	display: block;
}
#f92-wrapper .f92.f92-super .f92-zelle {
	width: 64px;
}
#f92-wrapper .f92.f92-mobile-apps {
	padding-top: 30.78px;
	padding-bottom: 30.78px;
}
#f92-wrapper .f92.f92-legal {
	font-size: 14.9931432px;
	font-weight: 400;
	line-height: 1.0;
	font-family: Arial, Helvetica, sans-serif;
}
#f92-wrapper .f92.f92-legal p {
	margin-bottom: 0.666em;
}
@media (min-width: 575px){
#f92-wrapper .f92.f92-super .f92-super-cell-left {
	padding-right: 25.002px;
}
#f92-wrapper .f92.f92-super .f92-bank-logo {
	max-height: 29px;
	max-width:300px;
}
#f92-wrapper .f92.f92-super .f92-zelle {
	width: 95px;
}
#f92-wrapper .f92.f92-super .f92-div {
	height: 29px;
}
}
@media (min-width: 768px){
#f92-wrapper .f92 {
	padding: 72px 36px;
}
}
#f92-wrapper .f92-header {
	background: url("{{Hero_Image}}") right bottom/cover no-repeat;
	padding-top: 135%;
}
#f92-wrapper .f92-header > .f92-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 36px 36px 36px 36px;
}
#f92-wrapper .f92-header > .f92-content h1 {
	font-size: 7.5vw;
	font-weight: 700;
	color: #fff;
}
#f92-wrapper .f92-header > .f92-content h2 {
	font-size: 5.0vw;
	font-weight: 400;
	color: #fff;
}
@media (min-width: 575px){
#f92-wrapper .f92-header {
	padding-top: 52.9%;
}
#f92-wrapper .f92-header > .f92-content h1 {
	font-size: 5.0vw;
}
#f92-wrapper .f92-header > .f92-content h2 {
	font-size: 3.7vw;
}
}
@media (min-width: 768px){
#f92-wrapper .f92-header > .f92-content {
	padding-top: 12.4vw;
}
#f92-wrapper .f92-header > .f92-content br {
	display: block;
}
#f92-wrapper .f92-header > .f92-content h1 {
	font-size: 5.14vw;
	letter-spacing: -0.33vw;
}
#f92-wrapper .f92-header > .f92-content h2 {
	font-size: 3.125vw;
}
}
@media (min-width: 992px){
#f92-wrapper .f92-header > .f92-content {
	padding-top: 123px;
}
#f92-wrapper .f92-header > .f92-content h1 {
	font-size: 50.94px;
	letter-spacing: -3px;
}
#f92-wrapper .f92-header > .f92-content h2 {
	font-size: 30.78px;
}
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92-header {
	background: #888;
	text-align: center;
	padding-top: 0;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92-header > .f92-content {
	position: relative;
	padding: 36px 36px 36px 36px;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92-header > .f92-content h1 {
	font-size: 7.71vw;
	letter-spacing: -0.33vw;
	margin-bottom: 2.26vw;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92-header > .f92-content h2 {
	font-size: 5vw;
}
@media (min-width: 575px){
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92-header > .f92-content {
	padding: 108px 18px;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92-header > .f92-content h2 {
	font-size: 3.1vw;
}
}
@media (min-width: 992px){
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92-header > .f92-content h1 {
	font-size: 76.5px;
	letter-spacing: -3px;
	margin-bottom: 22.5px;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92-header > .f92-content h2 {
	font-size: 30.78px;
}
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points {
	padding: 106.2px 18px;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points:before, #f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points:after {
	content: '';
	background: #888;
	width: 298px;
	max-width: 80%;
	height: 8px;
	position: absolute;
	left: 50%;
	
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points:before {
	top: 0;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points:after {
	bottom: 0;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points .f92-point {
	margin-bottom: 82.8px;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points .f92-image {
	max-width: 324px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 36px;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points .f92-image:before {
	content: '';
	padding-top: 100%;
	display: block;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points .f92-image img {
	position: absolute;
	left: 0;
	top: 0;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points h5 {
	font-size: 35.62px;
}
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points .f92-desc {
	font-size: 28px;
	line-height: 1.42;
}
@media (min-width: 768px){
#f92-wrapper .f92-main.f92-landing.f92-landing-b .f92.f92-points .f92-image {
	margin-bottom: 0;
}
}
#f92-wrapper .f92-main.f92-landing .f92-faq {
	margin-bottom: 108px;
}
#f92-wrapper .f92-main.f92-landing .f92-faq h5 {
	margin-bottom: 28.8px;
}
.h1, .h2, .h3, .h4, .h5, .h6, .f92 h1, .f92 h2, .f92 h3, .f92 h4, .f92 h5, .f92 h6, .f92-content h1, .f92-content h2, .f92-content h3, .f92-content h4, .f92-content h5, .f92-content h6 {
	margin-top: 0;
	margin-bottom: 9px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}
.f92 h2, .f92-content h2 {
	font-weight: 300;
	font-size: 48.06px;
}
.f92 h3, .f92-content h3 {
	font-weight: 300;
	font-size: 37.98px;
	line-height: 1.4;
}
.f92 h4, .f92-content h4 {
	font-weight: 300;
	font-size: 25.002px;
}
.f92 h5, .f92-content h5 {
	font-weight: 700;
	font-size: 20.9988px;
	letter-spacing: 0.5vw;
	color: #888;
	margin-bottom: 18px;
	text-transform: uppercase;
}
@media (min-width: 992px){
.f92 h5, .f92-content h5 {
	letter-spacing: 5px;
}
}
.f92 p {
	margin-top: 0;
	margin-bottom: 18px;
}
.f92 a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
.f92-light {
	font-weight: 300;
}
.f92-regular {
	font-weight: 400;
}
.f92-bold, .f92-strong {
	font-weight: 700;
}
.f92-leading-tight {
	line-height: 1.3 !important;
}
.f92-text-center {
	text-align: center !important;
}
.f92-text-left {
	text-align: left !important;
}
.f92-color-slate {
	color: #004c97 !important;
}
.f92-bg-slate {
	background-color: #004c97 !important;
}
.f92-border-slate {
	border-color: #004c97 !important;
}
.f92-color-ash {
	color: #f4f4f4 !important;
}
.f92-bg-ash {
	background-color: #f4f4f4 !important;
}
.f92-border-ash {
	border-color: #f4f4f4 !important;
}
.f92-color-steel {
	color: #24428b !important;
}
.f92-bg-steel {
	background-color: #24428b !important;
}
.f92-border-steel {
	border-color: #24428b !important;
}
.f92-btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 1.5;
	
	border-radius: 28px;
	padding: 18px 39.6px 18px;
	font-weight: 700;
	border: 1px solid #ebebeb;
	letter-spacing: 0.5vw;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.f92-btn.f92-btn-primary {
	background-color: #f4f4f4;
	color: #888;
}
.f92-btn.f92-btn-primary:hover {
	border-color: #888;
}
@media (min-width: 768px){
.f92-btn {
	border-radius: 38px;
	padding: 23.4px 39.6px 23.4px;
}
}
@media (min-width: 992px){
.f92-btn {
	letter-spacing: 5px;
}
}
.f92-icon {
	max-width: 99px;
	margin-bottom: 18px;
}
.f92-lead {
	font-size: 20.9988px;
}
.f92 sub, .f92-content sub, .f92 sup, .f92-content sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
.f92 sup, .f92-content sup {
	top: -.5em;
}
.f92-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.f92-col, .f92-col-1, .f92-col-10, .f92-col-11, .f92-col-12, .f92-col-2, .f92-col-3, .f92-col-4, .f92-col-5, .f92-col-6, .f92-col-7, .f92-col-8, .f92-col-9, .f92-col-auto, .f92-col-lg, .f92-col-lg-1, .f92-col-lg-10, .f92-col-lg-11, .f92-col-lg-12, .f92-col-lg-2, .f92-col-lg-3, .f92-col-lg-4, .f92-col-lg-5, .f92-col-lg-6, .f92-col-lg-7, .f92-col-lg-8, .f92-col-lg-9, .f92-col-lg-auto, .f92-col-md, .f92-col-md-1, .f92-col-md-10, .f92-col-md-11, .f92-col-md-12, .f92-col-md-2, .f92-col-md-3, .f92-col-md-4, .f92-col-md-5, .f92-col-md-6, .f92-col-md-7, .f92-col-md-8, .f92-col-md-9, .f92-col-md-auto, .f92-col-sm, .f92-col-sm-1, .f92-col-sm-10, .f92-col-sm-11, .f92-col-sm-12, .f92-col-sm-2, .f92-col-sm-3, .f92-col-sm-4, .f92-col-sm-5, .f92-col-sm-6, .f92-col-sm-7, .f92-col-sm-8, .f92-col-sm-9, .f92-col-sm-auto, .f92-col-xl, .f92-col-xl-1, .f92-col-xl-10, .f92-col-xl-11, .f92-col-xl-12, .f92-col-xl-2, .f92-col-xl-3, .f92-col-xl-4, .f92-col-xl-5, .f92-col-xl-6, .f92-col-xl-7, .f92-col-xl-8, .f92-col-xl-9, .f92-col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.f92-align-items-center {
	-ms-flex-align: center !important;
	align-items: center !important;
}
.f92-d-flex {
	display: -ms-flexbox !important;
	display: flex !important;
}
.f92-order-1 {
	-ms-flex-order: 1;
	order: 1;
}
.f92-order-2 {
	-ms-flex-order: 2;
	order: 2;
}
.f92-d-none {
	display: none !important;
}
.f92-mb-2, .f92-my-2 {
	margin-bottom: 9px !important;
}
.f92-mb-4, .f92-my-4 {
	margin-bottom: 27px !important;
}
.f92-mb-5, .f92-my-5 {
	margin-bottom: 54px !important;
}
.f92-mt-5, .f92-my-5 {
	margin-top: 54px !important;
}
.f92-ml-2, .f92-mx-2 {
	margin-left: 9px !important;
}
.f92-mr-2, .f92-mx-2 {
	margin-right: 9px !important;
}
.f92-pb-4, .f92-py-4 {
	padding-bottom: 27px !important;
}
.f92-pt-4, .f92-py-4 {
	padding-top: 27px !important;
}
@media (min-width: 768px){
.f92-col-md-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.f92-col-md-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
.f92-d-md-none {
	display: none !important;
}
.f92-mb-md-0, .f92-my-md-0 {
	margin-bottom: 0 !important;
}
.f92-order-md-2 {
	-ms-flex-order: 2;
	order: 2;
}
.f92-order-md-1 {
	-ms-flex-order: 1;
	order: 1;
}
}
@media (min-width: 992px){
.f92-d-lg-block {
	display: block !important;
}
}
.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
div[class^="vs-"] {
	clear: both;
}
.vs-16 {
	height: 16px;
}

.f92-nav {
	background: #f4f4f4;
	padding: 18px;
	display: table;
	width: 100%;
	margin-bottom: 36px;
}
.f92-nav a {
	color: #24428b;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}
@media (min-width: 768px){
.f92-nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 18px 36px;
}
.f92-nav > div {
	white-space: nowrap;
	text-align: center;
}
}
#f92-wrapper .f92-main.f92-faq .f92-header > .f92-content h1 {
	font-size: 10.0vw;
	font-weight: 700;
	color: #fff;
}
@media (min-width: 768px){
#f92-wrapper .f92-main.f92-faq .f92-header > .f92-content h1 {
	font-size: 7.25vw;
}
}
@media (min-width: 992px){
#f92-wrapper .f92-main.f92-faq .f92-header > .f92-content h1 {
	font-size: 72px;
}
}

@media (min-width: 575px){
#f92-wrapper .f92-main.f92-faq.f92-faq-a .f92-header {
	padding-top: 40.0%;
}
#f92-wrapper .f92-main.f92-faq.f92-faq-a .f92-header > .f92-content {
	padding-top: 0;
	padding-bottom: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
#f92-wrapper .f92-main.f92-faq.f92-faq-a .f92-header > .f92-content h1 {
	font-size: 5.0vw;
}
}
@media (min-width: 992px){
#f92-wrapper .f92-main.f92-faq.f92-faq-a .f92-header > .f92-content h1 {
	font-size: 72px;
}
}
#f92-wrapper .f92-main.f92-faq.f92-faq-b .f92-header {
	background: #888888;
	padding-top: 0;
}
#f92-wrapper .f92-main.f92-faq.f92-faq-b .f92-header > .f92-content {
	position: relative;
}
#f92-wrapper .f92-main.f92-faq.f92-faq-b .f92-header > .f92-content h1 {
	text-align: center;
	margin: 5vw auto;
}
#f92-wrapper .f92-main.f92-faq.f92-faq-b .f92-header > .f92-content h1 br:first-of-type {
	display: none;
}
@media (min-width: 768px){
#f92-wrapper .f92-main.f92-faq.f92-faq-b .f92-header {
	padding-top: 40%;
	padding-top: 40.0%;
}
#f92-wrapper .f92-main.f92-faq.f92-faq-b .f92-header > .f92-content {
	position: absolute;
	padding-top: 0;
	padding-bottom: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
#f92-wrapper .f92-main.f92-faq.f92-faq-b .f92-header > .f92-content h1 {
	margin: 0 auto;
}
}
#f92-wrapper .f92-main.f92-faq .f92 {
	padding-top: 0;
	padding-bottom: 36px;
}
#f92-wrapper .f92-main.f92-faq .f92 a {
	color: inherit;
	text-decoration: underline;
}
#f92-wrapper .f92-main.f92-faq h3 {
	font-size: 27.99px;
	font-weight: 700;
	color: #24428b;
	text-decoration: underline;
	text-transform: uppercase;
	margin-bottom: 31.5px;
}
#f92-wrapper .f92-main.f92-faq .f92-question {
	margin-bottom: 45px;
}
#f92-wrapper .faq_hide.f92-faq {display: none}
</style>
<style>

/* START CUSTOMIZE COLOR OF ICONS */
#f92-icon-send path, #f92-icon-request path, #f92-icon-split path, #f92-icon-split rect {
	fill: #004c97 !important;
}
/* END CUSTOMIZE COLOR OF ICONS */

/* START CUSTOMIZE COLOR OF SUBHEAD & BODY TEXT */
#f92-wrapper {
	color: #00a3e0 !important;
}
#f92-wrapper h5, #f92-wrapper .color-slate {
	color: #004c97 !important;
}
.f92-btn.f92-btn-primary {
	color: #004c97 !important;
}
/* END CUSTOMIZE COLOR OF SUBHEAD & BODY TEXT */
	
</style>

<script>
// DISPLAY ADDITIONAL FAQs ON BUTTON CLICK
$(document).ready(function () {
	var faqToggle = 0;
	$("#btnFAQ").click(function() {
		if (faqToggle == 0) {
			$("#f92-wrapper .faq_hide.f92-faq").css({"display": "block"});
			$("#btnFAQ").text("SEE LESS FAQs");
			faqToggle = 1;
		}else {
			$("#f92-wrapper .faq_hide.f92-faq").css({"display": "none"});
			$("#btnFAQ").text("SEE MORE FAQs");	
			faqToggle = 0;
		}
	});

	var appStoreYes = "Yes";
	if (appStoreYes == "Yes"){
		//displays by default
	}else {
		$("#appStore").css("display", "none");
		$("#appStoreLegal").css("display", "none");
	}
	
	var googlePlayYes = "Yes";
	if (googlePlayYes == "Yes"){
		//displays by default
	}else {
		$("#googlePlay").css("display", "none");
		$("#googlePlayLegal").css("display", "none");
	}
	
	if (appStoreYes != "Yes" && googlePlayYes !="Yes") {
		$("#mobileLegal").css("display", "none");
		$("#mobileApps").css("display", "none");
	}
	
});
</script>
	</head>
	<body>
<div id="f92-wrapper" style="color: #00a3e0;">
	<div id="f92-wrapper-inner">
		<div class="f92 f92-super f92-text-center f92-py-4">
			<div class="f92-super-cell f92-super-cell-left">
				<!-- START CUSTOMIZABLE FI LOGO --><a href="#">
				<img alt="Ocean Bank" class="f92-bank-logo" src="http://images.printable.com/imagelibrary/Seller/22712/p1_cbdc97ed-0086-4e2d-9d87-669a590c1ced/images/4956094/src/horizontal_RGB%20(4)_48e0c670-6be8-4955-b480-4fb3d5c82a0c.png"></a>
				<!-- END CUSTOMIZABLE FI LOGO -->
			</div>
			
			<div class="f92-super-cell f92-super-cell-right">
				<a href="#">
				<img alt="Zelle" class="f92-zelle" src="https://images.printable.com/imagelibrary/Seller/3346/ZelleLandingPage_05152019134834_259/images/src/zelle_line.jpg"></a>
			</div>
		</div>



<div class="f92-main f92-landing">
		<div id="heroImage" class="f92-header" style="background: #ccc url('http://images.printable.com/imagelibrary/Seller/3346/ZelleLandingPage_05152019134834_259/images/src/iStock-843619062.jpg') right 66.666%/cover no-repeat">
<div class="f92-content">
			<h1>Start sending <br>money with Zelle<sup>®</sup></h1>
			<h2>It's a fast, safe and easy <br>way to send money.</h2>
		</div>
			</div>
		
		<div class="f92">
			<div class="f92-row">
				<div class="f92-col-12 f92-text-center">
					<h3 class="f92-mb-5"><span class="f92-bold f92-color-slate"><i>Zelle</i> is a convenient way to send money</span> <br>using your mobile banking app or online banking account.</h3>
	
					<p class="f92-lead">Whether it's saving you a trip to the ATM or taking out the guesswork of divvying up the lunch tab, <i>Zelle</i> is a fast, safe and easy way to send and request money. Funds are sent directly to the recipient's account in a matter of minutes<sup>1</sup>, and all you need is the recipient's email address or U.S. mobile phone number.</p>
				</div>
			</div>
		</div>
		<div class="f92 f92-bg-ash">
			<div class="f92-row">
				<div class="f92-col-12 f92-text-center">
					<h3 class="f92-mb-5">Mobilize your money<br><span class="f92-bold f92-color-slate">with <i>Zelle.</i></span></h3>
				</div>
			</div>
			<div class="f92-row f92-text-center">
				<div class="f92-col-12 f92-col-md-4 f92-mb-5 f92-mb-md-0">
					<svg id="f92-icon-send" enable-background="new 0 0 100 100" height="100px" viewbox="0 0 100 100" width="100px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
					<path fill="#004c97" d="M29.498,57.447v14.888c0,0.697,0.412,1.327,1.049,1.608c0.228,0.1,0.468,0.147,0.707,0.147 c0.431,0,0.857-0.159,1.187-0.461l6.667-6.112l9.125,9.562c0.334,0.349,0.793,0.543,1.271,0.543c0.058,0,0.116-0.002,0.174-0.009 c0.538-0.055,1.021-0.354,1.312-0.811l29.74-47.11c0.387-0.611,0.357-1.396-0.07-1.978s-1.169-0.843-1.869-0.655L19.302,43 c-0.598,0.16-1.069,0.625-1.236,1.221c-0.168,0.598-0.008,1.238,0.421,1.687L29.498,57.447z M33.01,68.344v-7.217l3.672,3.85 L33.01,68.344z M49.22,73.025L33.798,56.866L73.984,33.8L49.22,73.025z M66.691,33.937L31.301,54.25l-8.231-8.625L66.691,33.937z"/><path fill="#004c97" d="M100,50c0,27.614-22.387,50-50,50C22.386,100,0,77.614,0,50S22.386,0,50,0C77.613,0,100,22.386,100,50z M97,50C97,23.533,76.467,3,50,3S3,23.533,3,50s20.533,47,47,47S97,76.467,97,50z"/></svg>
					<h5>SEND</h5>
					<div class="f92-lead f92-leading-tight">
						Send money <br class="f92-d-none f92-d-lg-block">fast in 
						just a <br class="f92-d-none f92-d-lg-block">few&nbsp;steps.</div>
				</div>
				<div class="f92-col-12 f92-col-md-4 f92-mb-5 f92-mb-md-0">
					<svg id="f92-icon-request" enable-background="new 0 0 100 100" height="100px" version="1.1" viewbox="0 0 100 100" width="100px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
					<path fill="#004c97" d="M32.114,41.828l6.802,6.802c0.276,0.276,0.659,0.421,1.109,0.421c0.45,0,0.833-0.146,1.109-0.421 c0.294-0.294,0.456-0.675,0.456-1.075c0-0.399-0.162-0.781-0.458-1.077l-4.217-4.161h14.062c0.83,0,1.53-0.701,1.53-1.531 s-0.7-1.53-1.53-1.53H36.903l4.163-4.163c0.294-0.293,0.456-0.676,0.456-1.075c0-0.4-0.162-0.782-0.456-1.076 c-0.588-0.587-1.562-0.586-2.15,0l-6.804,6.804c-0.09,0.092-0.287,0.289-0.339,0.564c-0.081,0.207-0.081,0.391-0.081,0.475 c0,0.205,0.019,0.433,0.145,0.614C31.916,41.557,31.999,41.713,32.114,41.828z"/><path fill="#004c97" d="M67.335,40.787C67.335,30.979,59.355,23,49.548,23h-14.76C24.979,23,17,30.979,17,40.787 c0,7.277,4.34,13.703,11.087,16.467v6.66c0,1.295,1.053,2.348,2.347,2.348c0.61,0,1.212-0.254,1.653-0.695l6.993-6.991h10.399 C59.325,58.574,67.335,50.596,67.335,40.787z M30.05,54.725c-6.015-1.983-10.057-7.583-10.057-13.938 c0-8.12,6.606-14.726,14.727-14.726h14.76c8.12,0,14.728,6.606,14.728,14.726c0,8.121-6.606,14.727-14.728,14.727l-0.51,0.068 H38.393c-0.449,0-0.833,0.145-1.109,0.422l-6.203,6.203V56.16C31.081,55.518,30.657,54.926,30.05,54.725z"/><path fill="#004c97" d="M72.662,44.714c-0.771-0.194-1.562,0.342-1.773,1.187c-0.103,0.407-0.018,0.819,0.238,1.161 c0.225,0.299,0.561,0.518,0.977,0.621c5.121,0.972,8.836,5.452,8.836,10.653c0,4.641-2.978,8.766-7.404,10.264 c-0.605,0.201-1.03,0.793-1.03,1.437v3.666l-4.094-4.095l-0.079-0.063c-0.355-0.235-0.702-0.356-1.03-0.356h-8.366 c-4.095,0-7.804-2.291-9.679-5.977c-0.271-0.542-0.794-0.878-1.366-0.878c-0.246,0-0.489,0.063-0.678,0.174 c-0.396,0.197-0.693,0.542-0.815,0.945c-0.116,0.382-0.072,0.78,0.112,1.104c2.387,4.7,7.148,7.623,12.426,7.623h7.748l5.225,5.225 c0.408,0.41,0.934,0.627,1.517,0.627c0.284,0,0.541-0.086,0.819-0.182c0.828-0.367,1.322-1.103,1.322-1.961v-4.832 C80.701,68.828,84,63.848,84,58.27C84,51.531,79.216,45.828,72.662,44.714z"/><path fill="#004c97" d="M100,50c0,27.614-22.387,50-50,50C22.386,100,0,77.614,0,50S22.386,0,50,0C77.613,0,100,22.386,100,50z M97,50C97,23.533,76.467,3,50,3S3,23.533,3,50s20.533,47,47,47S97,76.467,97,50z"/></svg> 
					<h5>REQUEST</h5>
					<div class="f92-lead f92-leading-tight">
						Settle up with <br class="f92-d-none f92-d-lg-block">roommates, friends <br class="f92-d-none f92-d-lg-block">and more, regardless <br class="f92-d-none f92-d-lg-block">of where they&nbsp;bank<sup>2</sup>.</div>
				</div>
				<div class="f92-col-12 f92-col-md-4">
					<svg id="f92-icon-split" enable-background="new 0 0 100 100" height="100px" version="1.1" viewbox="0 0 100 100" width="100px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
					<rect x="74.369" y="75.447" transform="matrix(-0.707 -0.7072 0.7072 -0.707 77.8604 186.3017)" fill="#004c97" width="6.304" height="3.152"/><rect x="66.574" y="67.647" transform="matrix(-0.7072 -0.707 0.707 -0.7072 70.0925 167.475)" fill="#004c97" width="6.304" height="3.152"/><rect x="58.771" y="59.846" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 62.2771 148.6398)" fill="#004c97" width="6.303" height="3.152"/><rect x="50.97" y="52.044" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 54.4798 129.8062)" fill="#004c97" width="6.303" height="3.153"/><rect x="43.165" y="44.244" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 46.6689 110.9715)" fill="#004c97" width="6.304" height="3.152"/><rect x="35.371" y="36.444" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 38.8752 92.1439)" fill="#004c97" width="6.304" height="3.152"/><rect x="27.566" y="28.643" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 31.0703 73.3082)" fill="#004c97" width="6.304" height="3.152"/><rect x="19.769" y="20.843" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 23.2754 54.4789)" fill="#004c97" width="6.304" height="3.152"/><path fill="#004c97" stroke="#004c97" d="M72.875,74.375h-46v-46h46V74.375z M70.875,72.375v-42h-42v42H70.875z"/><path fill="#004c97" d="M100,50c0,27.614-22.387,50-50,50C22.386,100,0,77.614,0,50S22.386,0,50,0C77.613,0,100,22.386,100,50z M97,50C97,23.533,76.467,3,50,3S3,23.533,3,50s20.533,47,47,47S97,76.467,97,50z"/></svg> 
					<h5>SPLIT</h5>
					<div class="f92-lead f92-leading-tight">
						Easily divide the <br class="f92-d-none f92-d-lg-block">check for dinner, <br class="f92-d-none f92-d-lg-block">coffee and&nbsp;more.</div>
				</div>
			</div>
		</div>
		<div class="f92">
			<div class="f92-row">
				<div class="f92-col-12 f92-text-left">
					<h2 class="f92-mb-5 f92-color-slate">Frequently Asked Questions</h2>
					<div class="f92-mb-2">
&nbsp;</div>
					<div class="f92-faq">
						<h5>What is <i>ZELLE</i>?</h5>
						<p><i>Zelle</i> is a fast, safe and easy way to send money directly between almost any bank accounts in the U.S., typically within minutes<sup>1</sup>. With just an email address or U.S. mobile phone number, you can send money to people you trust, regardless of where they bank<sup>2</sup>.</p>
					</div>
					<div class="f92-faq">
						<h5>Who can I send money to with <i>ZELLE</i>?</h5>
			
						<p>You can send money to friends, family and others you trust<sup>2</sup>.</p>

						<p>Since money is sent directly from your bank account to another person's bank account within minutes<sup>1</sup>, it's important to only send money to people you trust, and always ensure you've used the correct email address or U.S. mobile number.</p>
					</div>
					<div class="f92-faq">
						<h5>HOW DO I USE <i>ZELLE</i>?</h5>
						<p>You can send, request, or receive money with <i>Zelle</i>. 
					<ol>
						<li>To get started, log into Ocean Bank's online banking or mobile app, navigate to Bill Pay and select "Send Money with Zelle<sup>®</sup>". Accept terms and conditions, enter your email address or U.S. mobile phone number, receive a one-time verification code, enter it, and you're ready to start sending and receiving with <i>Zelle</i>.</li>
						<li>To send money using <i>Zelle</i>, simply add a trusted recipient's email address or U.S. mobile phone number, enter the amount you'd like to send and an optional note, review, then hit "Send." In most cases, the money is available to your recipient in minutes<sup>1</sup>.</li>
						<li>To request money using <i>Zelle</i>, choose "Request," select the individual(s) from whom you'd like to request money, enter the amount you'd like to request, include an optional note, review and hit "Request"<sup>3</sup>.</li>
						<li>To receive money, just share your enrolled email address or U.S. mobile phone number with a friend and ask them to send you money with <i>Zelle</i>.</li>
					</ol>
					</p>
					</div>
					
					<div id="addFAQ" class="faq_hide f92-faq">
					<h5>Someone sent me money with <i>Zelle</i>, how do I receive it?</h5>
			
					<p>If you have already enrolled with <i>Zelle</i>, you do not need to take any further action. The money will move directly into your bank account, typically within minutes<sup>1</sup>.</p>
                    <p>If you have not yet enrolled with <i>Zelle</i>, follow these steps:<br>
                    <ol>
                    	<li>Click on the link provided in the payment notification you received via email or text message.</li>
                        <li>Select Ocean Bank.</li>
                        <li>Follow the instructions provided on the page to enroll and receive your payment. Pay attention to the email address or U.S. mobile number where you received the payment notification - you should enroll with <i>Zelle</i> using that email address or U.S. mobile number where you received the notification to ensure you receive your money.</li>
                    </ol>
                    </p>
				</div>
				
				<div class="faq_hide f92-faq">
                <h5>What types of payments can I make with <i>Zelle</i>?</h5>

					<p><i>Zelle</i> is a great way to send money to family, friends, and people you are familiar with such as your personal trainer, babysitter or neighbor<sup>2</sup>.</p>
                    <p>Since money is sent directly from your bank account to another person's bank account within minutes<sup>1</sup>, <i>Zelle</i> should only be used to send money to friends, family and others you trust. </p>
                    <p>Neither Ocean Bank nor <i>Zelle</i> offers a protection program for any authorized payments made with <i>Zelle</i> – for example, if you do not receive the item you paid for or the item is not as described or as you expected.</p>
				</div>
				
				<div class="faq_hide f92-faq">
                <h5>How do I get started?</h5>

					<p>It's easy — <i>Zelle</i> is already available within Ocean Bank's mobile banking app and online banking within Bill Pay! Check our app or sign-in online and follow a few simple steps to enroll with <i>Zelle</i> today.</p>
		</div>

				<div class="faq_hide f92-faq">
                <h5>What if I want to send money to someone whose financial institution doesn't offer <i>Zelle</i>?</h5>

					<p>You can find a full list of participating banks and credit unions live with <i>Zelle</i> <a href="https://www.zellepay.com/participating-banks-and-credit-unions">here</a>.</p>
                    <p>If your recipient's financial institution isn't on the list, don't worry! The list of participating financial institutions is always growing, and your recipient can still use <i>Zelle</i> by downloading the <i>Zelle</i> app for Android and iOS.</p>
                    <p>To enroll with the <i>Zelle</i> app, your recipient will enter their basic contact information, an email address and U.S. mobile number, and a Visa<sup>®</sup> or Mastercard<sup>®</sup> debit card with a U.S. based account (does not include U.S. territories). <i>Zelle</i> does not accept debit cards associated with international deposit accounts or any credit cards.</p>
				</div>
				
				<div class="faq_hide f92-faq">
                <h5>How does <i>Zelle</i> work?</h5>

					<p>When you enroll with <i>Zelle</i> through your online banking Bill Pay account, or mobile banking app, your name, the name of your bank, and the email address or U.S. mobile number you enrolled is shared with <i>Zelle</i> (no sensitive account details are shared – those stay with Ocean Bank). </p>
					
					<p>When someone sends money to your enrolled email address or U.S. mobile number, <i>Zelle</i> looks up the email address or mobile number in its "directory" and notifies Ocean Bank of the incoming payment. Ocean Bank then directs the payment into your bank account, all while keeping your sensitive account details private.</p>
				</div>
				
				<div class="faq_hide f92-faq">
                <h5>Can I use <i>Zelle</i> internationally?</h5>

					<p>In order to use <i>Zelle</i>, the sender and recipient's bank accounts must be based in the U.S.</p>
				</div>
				
				<div class="faq_hide f92-faq">
					<h5>Can I cancel a payment?</h5>
					
					<p>You can only cancel a payment if the person you sent money to hasn't yet enrolled with <i>Zelle</i>. To check whether the payment is still pending because the recipient hasn't yet enrolled, you can go to your activity page, choose the payment you want to cancel, and then select "Cancel This Payment." </p>
                    <p>If the person you sent money to has already enrolled with <i>Zelle</i>, the money is sent directly to their bank account and cannot be canceled. This is why it's important to only send money to people you trust, and always ensure you've used the correct email address or U.S. mobile number when sending money.  </p>
                    <p>If you sent money to the wrong person, we recommend contacting the recipient and requesting the money back. If you aren't able to get your money back, please call customer services at  so we can help you. </p>
                    <p>Scheduled and recurring payments are features provided by Ocean Bank in our online banking and mobile banking app and are not features of <i>Zelle</i>. Please contact customer services with any questions concerning scheduling or recurring payments. </p>
                    <p>You can cancel a payment that is scheduled in advance if the money has not already been deducted from your account.</p>
				</div>
				
				<div class="faq_hide f92-faq">
					<h5>How long does it take to receive money with <i>Zelle</i>?</h5>
					
					<p>Money sent with <i>Zelle</i> is typically available to an enrolled recipient within minutes<sup>1</sup>.</p>
                    <p>If you send money to someone who isn't enrolled with <i>Zelle</i>, they will receive a notification prompting them to enroll. After enrollment, the money will move directly to your recipient's account, typically within minutes<sup>1</sup>.</p>
                    <p>If your payment is pending, we recommend confirming that the person you sent money to has enrolled with <i>Zelle</i> and that you entered the correct email address or U.S. mobile phone number. </p>
                    <p>If you're waiting to receive money, you should check to see if you've received a payment notification via email or text message. If you haven't received a payment notification, we recommend following up with the sender to confirm they entered the correct email address or U.S. mobile phone number.</p>
                    <p>Still having trouble? Please contact customer services at .</p>
				</div>
				
				<div class="faq_hide f92-faq">
					<h5>Will the person I send money to be notified?</h5>

					<p>Yes! They will receive a notification via email or text message.</p>
				</div>
			
				<div class="faq_hide f92-faq">
					<h5>Is my information secure?</h5>
					
					<p>Keeping your money and information safe is a top priority for Ocean Bank. When you use <i>Zelle</i> within our mobile app or online banking, your information is protected with the same technology we use to keep your bank account safe.</p>
				</div>
				
				<div class="faq_hide f92-faq">
                <h5>I'm unsure about using <i>Zelle</i> to pay someone I don't know. What should I do?</h5>
					
					<p>If you don't know the person, or aren't sure you will get what you paid for (for example, items bought from an online bidding or sales site), you should not use <i>Zelle</i> for these types of transactions.</p>
                    <p>These transactions are potentially high risk (just like sending cash to a person you don't know is high risk). Neither Ocean Bank nor <i>Zelle</i> offers a protection program for any authorized payments made with <i>Zelle</i> – for example, if you do not receive the item you paid for or the item is not as described or as you expected.</p>
				</div>

                <div class="faq_hide f92-faq">
                <h5>What if I get an error message when I try to enroll an email address or U.S. mobile number?</h5>

					<p>Your email address or U.S. mobile phone number may already be enrolled with <i>Zelle</i> at another bank or credit union. Call our customer  support team () and ask them to move your email address or U.S. mobile phone number to Ocean Bank so you can use it for <i>Zelle</i>. </p>
                    <p>Once customer support moves your email address or U.S. mobile phone number, it will be connected to your Ocean Bank account so you can start sending and receiving money with <i>Zelle</i> through the Ocean Bank mobile banking app and online banking. Please call Ocean Bank's customer support toll-free at  for help.</p>
				</div>
	
				<div class="f92-text-center">
					<a id="btnFAQ" class="f92-btn f92-btn-primary" href="#addFAQ">SEE MORE FAQs</a> 
				</div>
			</div>
			</div>
		</div>

</div>

		<div id="mobileApps" class="f92 f92-bg-ash f92-mobile-apps">
			<div class="f92-row">
				<div class="f92-col-12 f92-text-center">
					<h4 class="f92-mb-4">Don't have our mobile&nbsp;app? <br>
					<span class="f92-bold f92-color-slate">Download it for&nbsp;free:</span></h4>
					<!-- START CUSTOMIZABLE MOBILE APP DOWNLOAD LINKS -->
					<a id="appStore" class="f92-mx-2" href="https://apps.apple.com/us/app/ocean-bank-mobile-banking/id1033968672" target="_blank">
					<img alt="App Store" src="https://images.printable.com/imagelibrary/Seller/3346/ZelleLandingPage_05152019134834_259/images/src/app-store.png"></a><div class="vs-16 f92-d-md-none">
					</div>
					<a id="googlePlay" class="f92-mx-2" href="https://play.google.com/store/apps/details?id=com.aci.ocean.mobile" target="_blank">
					<img alt="Google Play" src="https://images.printable.com/imagelibrary/Seller/3346/ZelleLandingPage_05152019134834_259/images/src/google-play.png"></a>
					<!-- END CUSTOMIZABLE MOBILE APP DOWNLOAD LINKS --></div>
			</div>
		</div>
		<div class="f92 f92-legal">
			<div class="f92-row">
				<div class="f92-col-12 f92-text-center">
					<!-- START CUSTOMIZABLE DISCLAIMERS -->
					<p><span id="appStoreLegal">App Store is a service mark of Apple Inc. Apple and the Apple logo are trademarks of Apple Inc, registered in the U.S. and other countries.</span> <span id="googlePlayLegal">Android, Google Play, and the Google Play logo are trademarks of Google Inc. Data charges may apply.</span> <span id="mobileLegal">Check with your mobile phone carrier for details.</span> Zelle and the Zelle related marks are wholly owned by Early Warning Services, LLC and are used herein under license.</p>

					<p><sup>1</sup> Transactions typically occur in minutes when the recipient's email address or U.S. mobile number is already enrolled with <i>Zelle</i>.</p>

					<p><sup>2</sup> Must have a bank account in the U.S. to use <i>Zelle</i>. </p>
					<p><sup>3</sup> In order to send payment requests or split payment requests to a U.S. mobile number, the mobile number must already be enrolled with <i>Zelle</i>. </p>
<br>
					<p>Copyright &copy; 2020 Ocean Bank. All rights reserved.</p>
					<!-- END CUSTOMIZABLE DISCLAIMERS -->
				</div>
			</div>
		</div>
	</div><!--/#wrapper-inner-->
</div><!--/#wrapper-->
</body>
</html>