@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/* CSS Document */


.pointer {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}

.button:hover {
	background-color: #003264;
	font-family: Arial, Helvetica, sans-serif;
}
/* CSS Document */

.button {
	background-color: #006699;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 22px;
	width: 22px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #006699;
}
.field:hover {
	margin: 0px;
	padding: 0px;
	color: #000000;
	border: 1px solid #666666;
	background-color: #F3F3F3;
}
.field {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 22px;
	width: 113px;
	line-height: 13px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
}
