* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
html {
  line-height: 1.15
}
body {
  margin: 0
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace, monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b, strong {
  font-weight: bolder
}
code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.75em
}
h3 sup {
  font-size: 50%;
  top: -1em
}
img {
  border-style: none
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button, input {
  overflow: visible
}
button, select {
  text-transform: none
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  outline-offset: -2px
}
::-webkit-file-upload-button {
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
[hidden], template {
  display: none
}
body {
  font-family: 'Open Sans', "sans-serif";
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: #333
}
p {
  margin: 0 0 20px
}
.container {
  max-width: 970px;
  width: 90%;
  margin: 0 auto;
  position: relative
}
.text-center {
  text-align: center !important
}
.text-link {
  text-decoration: none
}
.text-link:hover {
  color: #00a1e0
}
.link-blue-light {
  color: #00a1e0;
  text-decoration: none
}
.link-blue-light:hover {
  color: #004a98
}
.link-blue-dark {
  color: #0b3b9e;
  text-decoration: none
}
.link-blue-dark:hover {
  color: #00a1e0
}
.blue {
  color: #004a98
}
.gray {
  color: #4f5050
}
.white {
  color: #fff
}
.sbold {
  font-weight: 600
}
hr {
  border-top: 0;
  border-bottom: 1px solid #e3e3e3
}
.big-title {
  margin: 50px auto 60px;
  text-align: center;
  font-size: 35px;
  font-weight: 300
}
#confidence2 .big-title {
  font-size: 36px;
}
/*Accesibility*/
#skippy {
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #004a98;
  font-size: 16PX;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #004a98 !important;
  outline: 1px !important;
}
#skippy:focus {
  opacity: 1 !important;
  border: 1px solid #004a98 !important;
  outline: 1px !important;
}
a {
  color: #004f7c !important;
}
a:focus {
  outline: 2px solid #004f7c;
}
.btn, #cards.credit-cards .column.card .btn {
  background-color: #004f7c !important;
  color: #ffffff !important;
}
#cards .card-group {
  color: #767a7b;
}
a .big-title {
    margin: 0 60px 30px 0;
}
@media screen and (max-width:550px) {
  .big-title {
    font-size: 28px;
    line-height: 1.2
  }
}
.bigger-title {
  margin: 50px auto 60px;
  text-align: center;
  font-size: 42px;
  font-weight: 300
}
@media screen and (max-width:550px) {
  .bigger-title {
    font-size: 38px;
    line-height: 1.2;
    margin: 30px
  }
}
.disclosure-text {
  font-size: 12px;
  color: #666;
  margin: 0 auto
}
.disclosure-text.blue {
  color: #004a98
}
.title {
  font-size: 23px;
  margin: 0 0 20px;
  font-weight: 400
}
.huge-text {
  font-weight: 300;
  font-size: 52px;
  margin: 0 auto 40px;
  line-height: 1
}
@media screen and (max-width:550px) {
  .huge-text {
    font-size: 38px
  }
}
.search-wrap {
  width: 55%;
  min-width: 715px
}
.search, .search-wrap {
  margin-left: auto;
  margin-right: auto
}
.search {
  width: calc(100% - 160px);
  margin-top: 50px;
  background-color: #fff;
  padding: 5px;
  border: 1.5px solid #bfbfbf;
  border-radius: 5px;
  position: relative;
  display: inline-block
}
.search input {
  border: 0;
  width: calc(100% - 50px - 75px);
  height: 30px;
  padding-left: 25px
}
.search button {
  background-color: #004a98;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 10px 20px;
  position: absolute;
  right: 2.5px;
  top: 2.5px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -o-transition: all ease .5s;
  transition: all .5s ease
}
.search button:hover {
  background-color: #00a1e0
}
@media only screen and (max-width:767px) {
  .search {
    margin-top: 5px;
    width: 100%
  }
}
.mobileCaption {
  display: none
}
.geoLocation {
  margin: 15px auto 0;
  cursor: pointer
}
.geoLocation, .ratio-title {
  text-align: center;
  display: block
}
.ratio-title {
  margin-top: 10px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto
}
.text-left {
  text-align: left
}
.row {
  width: 100%;
  clear: both;
  overflow: auto
}
#white-wrapper {
  background-color: #fff;
  padding: 40px
}
#miles {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 26px;
  display: inline-block;
  width: 20%
}
@media only screen and (max-width:767px) {
  .search-wrap {
    width: 90%;
    min-width: 0
  }
  .mobileCaption {
    display: block;
    text-align: center
  }
  #search {
    padding-left: 0;
    width: calc(100% - 90px)
  }
  #miles {
    margin-left: auto;
    margin-right: auto
  }
}
.blurb {
  position: relative;
  font-size: 12px;
  border-radius: 3px;
  padding: 5px
}
sup {
  text-decoration: none
}
a sup {
  text-decoration: none !important;
  display: inline-block
}
.no-break {
  white-space: nowrap
}
#header {
  position: relative
}
#header .wrapper-logo {
  padding: 20px 0 0
}
#header .wrapper-logo img {
  width: auto;
  max-height: 45px
}
#header .language {
  float: right;
  font-size: 10px;
  font-family: verdana;
  text-decoration: none;
  color: #666
}
#header .tabs {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  min-height: 27px;
  -ms-flex-pack: end;
  justify-content: flex-end
}
#header .tabs, #header .tabs a {
  display: -ms-flexbox;
  display: flex
}
#header .tabs a {
  border-radius: 5px 5px 0 0;
  border: 1px solid #e7ebee;
  border-bottom: none;
  margin-left: 9px;
  font-size: 11px;
  font-family: verdana;
  text-decoration: none;
  color: #666;
  padding: 5px 20px;
  -ms-flex-align: center;
  align-items: center;
  background: #f6f7fb;
  background: -webkit-linear-gradient(top, #f6f7fb, #f6f7f9 26%, #d7dadf);
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f7fb), color-stop(26%, #f6f7f9), to(#d7dadf));
  background: -o-linear-gradient(top, #f6f7fb 0, #f6f7f9 26%, #d7dadf 100%);
  background: linear-gradient(180deg, #f6f7fb 0, #f6f7f9 26%, #d7dadf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f7fb", endColorstr="#d7dadf", GradientType=0)
}
#header .tabs a:hover {
  color: #004a98
}
#header .bottom-bar {
  font-size: 10px;
  font-family: verdana;
  text-decoration: none;
  color: #666;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: 35px;
  background: #e7eaef;
  background: -webkit-linear-gradient(top, #e7eaef, #e7ebee 25%, #dbdee3 54%, #d4d8e3);
  background: -webkit-gradient(linear, left top, left bottom, from(#e7eaef), color-stop(25%, #e7ebee), color-stop(54%, #dbdee3), to(#d4d8e3));
  background: -o-linear-gradient(top, #e7eaef 0, #e7ebee 25%, #dbdee3 54%, #d4d8e3 100%);
  background: linear-gradient(180deg, #e7eaef 0, #e7ebee 25%, #dbdee3 54%, #d4d8e3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7eaef", endColorstr="#d4d8e3", GradientType=0)
}
#header .bottom-bar .breadcrumbs {
  position: absolute;
  top: -30px
}
#header .bottom-bar .date, #header .bottom-bar .sign-in {
  display: inline-block
}
#header .bottom-bar .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
#header .bottom-bar a {
  text-decoration: none;
  color: #004a98;
  font-weight: 700
}
@media screen and (max-width:680px) {
  #header .bottom-bar {
    padding: 0 5px
  }
  #header .bottom-bar .breadcrumbs {
    position: relative;
    top: auto;
    -ms-flex-order: 1;
    order: 1
  }
  #header .bottom-bar .date {
    display: inline-block;
    width: 100%;
    -ms-flex-order: 3;
    order: 3
  }
  #header .bottom-bar .sign-in {
    display: inline-block;
    -ms-flex-order: 2;
    order: 2
  }
}
@media screen and (max-width:600px) {
  #header .container {
    width: 100%;
    margin: 0 auto
  }
  #header .wrapper-logo {
    padding: 5px;
    padding-bottom: 10px;
    margin: 0 auto
  }
  #header .wrapper-logo img {
    max-height: 30px
  }
  #header .language {
    position: absolute;
    right: 0
  }
  #header .tabs {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
  }
  #header .tabs a {
    margin: 0 2px;
    padding: 3px;
    font-size: 10px
  }
  #header .bottom-bar {
    text-align: center;
    height: 20px
  }
  .huge-text {
    font-size: 38px
  }
}
@media screen and (max-width:384px) {
  #header .tabs {
    max-height: 42px
  }
  #header .tabs a {
    margin: 0 2px;
    padding: 3px
  }
}
@media screen and (max-width:324px) {
  #header .tabs a {
    line-height: 1
  }
}
#banner {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 100px;
  background-color: #dee4d6
}
#banner img {
  width: 103%;
  min-width: 450px;
  max-width: 1500px;
  display: block;
  margin: 0 auto;
  position: relative
}
#banner img.onlymobile {
  display: none
}
#banner img.onlydesktop {
  display: block
}
@media screen and (max-width:850px) {
  #banner {
    margin-bottom: 30px
  }
  #banner img {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0
  }
}
@media screen and (max-width:770px) {
  #banner img {
    width: 100%;
    min-width: 0
  }
}
@media screen and (max-width:767px) {
  #banner img.onlymobile {
    display: block
  }
  #banner img.onlydesktop {
    display: none
  }
}
#cards {
  margin-bottom: 60px
}
#cards h2 {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 42px
}
#cards h2.nobreak {
  white-space: nowrap
}
@media only screen and (max-width:767px) {
  #cards h2.nobreak {
    white-space: normal
  }
}
#cards .card-group {
  margin: 40px auto !important;
  padding-left: 20px;
  font-size: 28px;
  background: #f6f6f6;
  color: #767a7b;
}
#cards .card-wrapper {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e3e3e3
}
#cards .card-wrapper .big-title {
  font-size: 40px;
  line-height: 1.3;
}
#cards .card-wrapper.no-border {
  border-bottom: none
}
#cards .column {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px
}
#cards .column.card {
  width: 40%
}
#cards .column.card img {
  width: 100%;
  margin: 5px auto 0
}
#cards .column.info {
  width: 30%
}
#cards .column.info img {
  width: 100%;
  margin: 5px auto 0
}
#cards .column.info .learn-more {
  margin: 0 0 20px;
  text-align: left;
  font-size: 11px;
  color: #004a98;
  width: 100%;
  line-height: 1.2;
  display: inline-block;
  text-decoration: none
}
#cards .column.copy {
  width: 60%;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left
}
#cards .column.copy img {
  width: 100%;
  margin: 5px auto 0
}
#cards .column.copy .learn-more {
  margin: 0 0 20px;
  text-align: left;
  font-size: 11px;
  color: #004a98;
  line-height: 1.2;
  display: inline-block;
  text-decoration: none
}
#cards .column.copy .btn {
  background-color: #00a1e0;
  max-width: 240px;
  width: 100%;
  display: block;
  padding: 5px 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  max-height: 250px;
  margin: 10px 0 5px
}
#cards .column.copy .btn + p {
  max-width: 240px
}
#cards .column.copy .btn + p.nobreak {
  max-width: 260px;
  white-space: nowrap
}
@media only screen and (max-width:767px) {
  #cards .column.copy .btn + p.nobreak {
    white-space: normal
  }
}
#cards .column.copy .btn.nobreak {
  max-width: 260px
}
#cards .column.copy .btn:hover {
  background-color: #004a98
}
#cards .column.copy p {
  text-align: center;
  margin: 0
}
@media only screen and (max-width:767px) {
  #cards {
    margin-bottom: 20px
  }
  #cards h2 {
    margin-top: 1em;
    text-align: center
  }
  #cards .column.card {
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }
  #cards .column.card img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block
  }
  #cards .column.copy, #cards .column.info {
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }
  #cards .column.copy .btn {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px
  }
  #cards .column.copy p {
    width: 65%;
    margin: 0 auto
  }
}
#cards.credit-cards {
  margin-bottom: 60px
}
#cards.credit-cards h2 {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 0
}
#cards.credit-cards .card-wrapper {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e3e3e3
}
#cards.credit-cards .card-wrapper img {
  max-width: 300px
}
#cards.credit-cards .card-wrapper.no-border {
  border-bottom: none
}
#cards.credit-cards .column {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px
}
#cards.credit-cards .column.card {
  width: 25%
}
#cards.credit-cards .column.card img {
  width: 100%;
  margin: 5px auto 0
}
#cards.credit-cards .column.card .btn {
  background-color: #00a1e0;
  width: 100%;
  display: block;
  padding: 5px 0;
  color: #fff;
  max-width: 300px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  max-height: 250px;
  margin: 10px auto 5px
}
#cards.credit-cards .column.card .btn:hover {
  background-color: #004a98
}
#cards.credit-cards .column.info {
  width: 25%
}
#cards.credit-cards .column.info img {
  width: 100%;
  margin: 5px auto 0
}
#cards.credit-cards .column.info p {
  text-align: left;
  width: 45%;
  margin: 0
}
#cards.credit-cards .column.copy {
  width: 50%;
  padding-left: 25px;
  padding-right: 10%
}
#cards.credit-cards .column.copy img {
  width: 100%;
  margin: 5px auto 0
}
#cards.credit-cards .column.copy .btn {
  background-color: #00a1e0;
  width: 45%;
  display: block;
  padding: 5px 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  max-height: 250px;
  margin: 10px 0 5px
}
#cards.credit-cards .column.copy .btn:hover {
  background-color: #004a98
}
#cards.credit-cards .column.copy p {
  text-align: left;
  width: 100%;
  margin: 0
}
@media only screen and (max-width:960px) {
  #cards.credit-cards .column.copy {
    padding-right: 30px
  }
}
@media only screen and (max-width:767px) {
  #cards.credit-cards {
    margin-bottom: 20px
  }
  #cards.credit-cards .column, #cards.credit-cards .column h2 {
    text-align: center
  }
  #cards.credit-cards .column.card {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px
  }
  #cards.credit-cards .column.card img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block
  }
  #cards.credit-cards .column.copy, #cards.credit-cards .column.info {
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }
  #cards.credit-cards .column.copy {
    margin-bottom: 20px
  }
  #cards.credit-cards .column.copy .btn {
    width: 65%;
    margin-left: auto;
    margin-right: auto
  }
  #cards.credit-cards .column.copy p {
    width: 65%;
    margin: 0 auto
  }
}
@media only screen and (max-width:500px) {
  #cards.credit-cards .column.copy p {
    width: 95%;
    margin: 0 auto
  }
}
#features, #features4 {
  margin-bottom: 50px
}
#features4 .title, #features .title {
    margin-bottom: 50px;
    font-weight: 300;
    display: block;
}
#features4 .icon, #features .icon {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  margin-bottom: 30px;
  width: 33%;
  padding-left: 0;
  padding-right: 0;
  margin-right: -4px
}
#features4 .icon strong, #features .icon strong {
  font-weight: 600
}
#features4 .icon img, #features .icon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto
}
#features4 .icon .wrapper-icon, #features .icon .wrapper-icon {
  height: 90px;
  width: 100%;
  position: relative;
  margin-bottom: 3px
}
#features4 .icon p, #features .icon p {
  max-width: 290px;
  width: 80%;
  margin: 0 auto
}
#features4 .icon p strong, #features .icon p strong {
  font-weight: 600
}
#features4 .icon h3, #features .icon h3 {
  margin-bottom: 10px
}
#features4.checking .icon, #features.checking .icon {
  display: inline-block;
  vertical-align: top;
  width: calc(22% - 20px);
  padding: 0 10px;
  margin-bottom: 30px
}
#features4 .icon {
  width: 25%
}
@media screen and (max-width:750px) {
  #features4 .icon, #features .icon {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px
  }
  #features4 .icon:last-child, #features .icon:last-child {
    margin-bottom: 0
  }
  #features4 .features-wrapper, #features .features-wrapper {
    max-width: 450px;
    margin: 0 auto
  }
  #features.checking .icon {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px
  }
}
@media screen and (max-width:550px) {
  #features4 .icon, #features .icon {
    width: 100%
  }
  #features4 .column, #features .column {
    display: block
  }
  #features4 .column.card, #features .column.card {
    width: 100%
  }
  #features4 .column.copy, #features .column.copy {
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }
  #features4 ul, #features ul {
    margin-top: 20px;
    padding-left: 50px
  }
  #features.checking .icon {
    width: calc(40% - 20px)
  }
}
@media screen and (max-width:770px) {
  #features .icon {
    width: calc(100% - 20px);
    padding-left: 0;
    padding-right: 0
  }
}
#spend {
  margin-bottom: 50px
}
#spend .btn {
  background-color: #00a1e0;
  width: 25%;
  display: block;
  padding: 5px 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  max-height: 250px;
  margin: 50px auto 5px
}
#spend .btn:hover {
  background-color: #004a98
}
#spend2 .icon {
  display: inline-block;
  vertical-align: top;
  width: calc(24% - 20px);
  padding: 0 10px;
  margin-bottom: 30px
}
#spend2 .icon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto
}
#spend2 .icon .wrapper-icon {
  height: 90px;
  width: 100%;
  position: relative;
  margin-bottom: 3px
}
#spend2 .icon p {
  max-width: 220px;
  margin: 0 auto
}
#spend2 .column {
  width: 50%;
  display: block;
  float: left;
  margin-bottom: 50px;
  padding-bottom: 50px;
  text-align: center
}
#spend2 .column img {
  width: 36px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle
}
#spend2 .column.w100 {
  width: 100%
}
#spend2 .btn {
  background-color: #00a1e0;
  width: 90%;
  display: block;
  padding: 5px 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  max-height: 250px;
  margin: 5px auto
}
#spend2 .btn:hover {
  background-color: #004a98
}
@media only screen and (max-width:1020px) {
  #spend2 .big-title {
    font-size: 35px
  }
}
@media only screen and (max-width:882px) {
  #spend2 .big-title {
    font-size: 30px;
    line-height: 35px
  }
}
@media screen and (max-width:770px) {
  #spend .btn {
    width: 65%
  }
}
@media only screen and (max-width:767px) {
  #spend2 .big-title {
    top: calc(100% 60px);
    left: 0;
    width: 100%;
    color: #004a98;
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 40px
  }
  #spend2 .icon {
    width: 100%
  }
  #spend2 .column {
    width: 100%;
    margin-bottom: 25px
  }
}
#confidence {
  position: relative;
  margin-bottom: 25px;
  background: #5497e8;
}
#confidence .banner {
  width: 100%;
  display: block;
}
#confidence .big-title {
  margin: 0;
  line-height: 1;
  text-align: left;
  color: #034C99;
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  width: 48%
}
#confidence .big-title.white {
  color: #fff
}
#confidence .big-title.nobreak {
  width: 75%
}
.banner-wrapper {
  display: flex;
}
.nav {
  overflow: hidden;
  width: 0;
  height: 0;
}
@media screen and (min-width:984px) and (max-width:5000px) {
  #confidence.credit-cards.credit-cards--espanol .big-title {
    width: 43%
  }
}
@media screen and (min-width:0px) and (max-width:960px) {
  #confidence.credit-cards.credit-cards--espanol .big-title {
    font-size: 32px
  }
}
ul.social li {
  padding: 0;
  margin: 0;
  display: inline;
  list-style-type: none;
}
#confidence2 {
  position: relative;
  margin-bottom: 25px
}
#confidence2 .banner {
  width: 100%
}
#confidence2 .big-title {
  margin: 0;
  text-align: left;
  color: #376daa;
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 37px;
  width: 60%;
  line-height: 55px
}
#confidence2 .big-title.white {
  color: #fff
}
@media screen and (max-width:1030px) {
  #confidence.credit-cards .big-title {
    font-size: 40px
  }
}
@media screen and (max-width:650px) {
  #confidence.credit-cards .big-title {
    margin-top: 10px;
    font-size: 32px
  }
}
@media screen and (max-width:350px) {
  #confidence.credit-cards .big-title {
    margin-top: 10px;
    font-size: 28px
  }
}
@media screen and (max-width:750px) {
  #confidence, #confidence2 {
    margin-bottom: 120px
  }
  #confidence2 .banner-wrapper, #confidence .banner-wrapper {
    overflow: hidden
  }
  #confidence2 .big-title, #confidence .big-title {
    width: 100%;
    top: calc(100% + 55px);
    left: 0;
    color: #004a98 !important;
    font-weight: 300;
    margin-bottom: 25px
  }
  #confidence2 .banner, #confidence .banner {
    float: right;
    width: 200%
  }
}
@media screen and (max-width:850px) {
  #confidence2 {
    margin-bottom: 150px
  }
  #confidence2 .banner-wrapper {
    overflow: hidden
  }
  #confidence2 .big-title {
    width: 100%;
    top: calc(100% + 65px);
    left: 0;
    color: #004a98 !important;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 25px
  }
  #confidence2 .banner {
    float: right;
    width: 200%
  }
}
@media screen and (max-width:430px) {
  #confidence2 {
    margin-bottom: 150px
  }
  #confidence2 .big-title {
    width: 100%;
    top: calc(100% + 55px);
    left: 0;
    color: #004a98 !important;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 25px
  }
  #confidence2 .banner {
    float: right;
    width: 200%
  }
}
@media only screen and (max-width:767px) {
  #confidence2 {
    margin-bottom: 120px
  }
}
@media screen and (max-width:550px) {
  #confidence .big-title {
    font-size: 35px
  }
}
@media screen and (max-width:770px) {
  #confidence .big-title {
    font-size: 35px
  }
}
#benefits {
  overflow: auto;
  margin-bottom: 50px
}
#benefits .line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ebebeb;
  margin-bottom: 40px
}
#benefits .column {
  width: 50%;
  display: block;
  float: left
}
#benefits .column.padding-right p {
  padding-right: 10%
}
#benefits .column .btn {
  background-color: #00a1e0;
  width: 50%;
  display: block;
  padding: 5px 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  max-height: 250px;
  margin: 10px 0 5px
}
#benefits .column .btn.nobreak {
  width: 60%
}
#benefits .column .btn:hover {
  background-color: #004a98
}
#benefits .column .disclosure-text {
  width: 50%;
  margin-left: 0;
  padding-right: 0
}
#benefits .column .disclosure-text.nobreak {
  width: 60%
}
#benefits .big-title {
  text-align: left;
  margin-bottom: 25px
}
#benefits .big-title.last-title {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 75px
}
@media screen and (max-width:770px) {
  #benefits .column {
    width: 100%
  }
  #benefits .column .btn {
    width: 70%;
    margin-left: auto;
    margin-right: auto
  }
  #benefits .column .disclosure-text {
    width: 100%;
    margin-left: auto;
    margin-right: auto
  }
  #benefits .line {
    margin-bottom: 0
  }
}
#requirements {
  margin-bottom: 50px
}
#requirements .column {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-bottom: 40px;
  margin-right: -4px
}
#requirements .column:last-of-type {
  border-left: 1px solid #ebebeb;
  padding-left: 60px
}
#requirements .column:first-of-type {
  padding-right: 60px
}
#requirements li {
  list-style: none;
  position: relative;
  margin-bottom: 5px
}
#requirements li:before {
  content: "\2022";
  font-size: 25px;
  position: absolute;
  left: -20px;
  top: 12px;
  line-height: 1px
}
#requirements .title {
  margin: 0 0 50px
}
#requirements h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 30px
}
#requirements .btn {
  background-color: #00a1e0;
  width: 25%;
  display: block;
  padding: 5px 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  max-height: 250px;
  margin: 10px auto 5px
}
#requirements .btn:hover {
  background-color: #004a98
}
#requirements .line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ebebeb;
  margin-bottom: 40px
}
#requirements .link-blue-dark, #requirements .text-link {
  text-decoration: underline
}
@media screen and (max-width:750px) {
  #requirements .column {
    display: block;
    width: 100% !important;
    max-width: 500px !important;
    border: 0 !important;
    margin: 0 auto;
    padding: 0 !important
  }
}
@media screen and (max-width:770px) {
  #requirements .btn {
    width: 50%;
    width: 65%;
    margin-left: auto;
    margin-right: auto
  }
  #requirements .line {
    margin-bottom: 0
  }
}
#oneStop {
  margin-bottom: 50px
}
#oneStop .line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ebebeb;
  margin-bottom: 40px
}
#oneStop .big-title {
  margin-bottom: 25px
}
#oneStop p {
  text-align: center;
  margin-bottom: 35px
}
#oneStop .icon {
  display: inline-block;
  vertical-align: top;
  width: calc(33% - 20px);
  padding: 0 10px;
  margin-bottom: 30px
}
#oneStop .icon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto
}
#oneStop .icon .wrapper-icon {
  height: 90px;
  width: 100%;
  position: relative;
  margin-bottom: 3px
}
#oneStop .icon p {
  max-width: 220px;
  margin: 0 auto
}
#oneStop .btn {
  background-color: #00a1e0;
  width: 25%;
  display: block;
  padding: 5px 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  max-height: 250px;
  margin: 10px auto 5px
}
#oneStop .btn:hover {
  background-color: #004a98
}
@media screen and (max-width:770px) {
  #oneStop .btn {
    width: 50%;
    width: 70%
  }
  #oneStop .icon {
    width: 100%;
    padding: 0
  }
}
#cta {
  background-color: #ebebeb;
  margin-bottom: 70px;
  padding: 40px 20px 60px
}
#cta p {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px
}
#cta a {
  text-decoration: none;
  color: #024e95
}
#cta a:hover {
  color: #00a1e0
}
#cta .huge-text {
  margin-bottom: 20px
}
#cta .title {
  font-weight: 200
}
#disclosure .links {
  position: relative;
  margin-bottom: 60px
}
#disclosure .links p {
  font-size: 14px;
  line-height: 14px
}
#disclosure .links span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #00a1e0
}
#disclosure .links span:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0
}
#disclosure .line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ebebeb;
  margin-bottom: 40px;
  margin-top: 40px
}
#disclosure .wrapper-link {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
#disclosure .disclosure-text {
  margin-bottom: 20px;
  text-align: justify
}
#disclosure .disclosure-text:last-child {
  margin-bottom: 0
}
#disclosure label {
  font-size: 12px;
  margin-bottom: 15px;
  display: block
}
#disclosure ul {
  list-style: none;
  font-size: 12px;
  padding-left: 30px;
  color: #666
}
#disclosure .link-blue-dark, #disclosure .text-link {
  text-decoration: underline
}
@media screen and (max-width:850px) {
  #disclosure .wrapper-link {
    position: relative;
    right: 0;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    text-align: center;
    margin-top: 30px
  }
  #disclosure .links {
    text-align: center
  }
}
@media screen and (max-width:750px) {
  #disclosure .links span {
    display: block;
    margin: 10px 0;
    padding: 0;
    border: 0
  }
}
#chekings {
  margin-bottom: 50px
}
#chekings .column.personal {
  background: url("/img/FreeChecking/personal-cheking-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover
}
#chekings .column.business {
  background: url("/img/FreeChecking/business-cheking-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover
}
#chekings .column h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.3;
  padding: 45px 25px;
  margin-bottom: 0
}
#chekings a {
  display: inline-block;
  width: calc(50% - 10px);
  text-decoration: none;
  vertical-align: top;
  pointer-events: none
}
#chekings a:hover h2 {
  opacity: .8
}
#chekings a:last-child {
  margin-left: 20px
}
@media screen and (max-width:850px) {
  #chekings a {
    display: block;
    max-width: 490px;
    width: 90%;
    margin: 0 auto 30px !important
  }
  #chekings .column.card, #chekings .column.info {
    width: 28%
  }
  #chekings .column.copy {
    width: calc(44% - 40px);
    padding-left: 20px;
    padding-right: 20px
  }
}
@media screen and (max-width:550px) {
  #chekings .column h2 {
    font-size: 21px
  }
}
.nice-select {
  font-size: 15px;
  border-radius: 5px;
  border: 1.5px solid #bfbfbf;
  float: none;
  width: 110px;
  display: inline-block;
  margin: 10px auto 15px 25px;
  height: 45px;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px)
}
.nice-select:after {
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  top: 60%
}
.nice-select:after, .nice-select:before {
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  width: 5px
}
.nice-select:before {
  border-top: 2px solid #5f5f5f;
  border-left: 2px solid #5f5f5f;
  top: 40%
}
.nice-select.open:before {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg)
}
@media only screen and (max-width:767px) {
  .nice-select {
    margin-left: auto;
    margin-right: auto;
    display: block
  }
}
#footer {
  position: relative;
  background-color: #e8ebef;
  padding: 15px 0;
  margin-top: 30px
}
#footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between
}
#footer p, #footer .p {
  color: #666;
  font-family: verdana;
  font-size: 10px;
  line-height: 15px
}
#footer .social {
  margin: 10px auto;
}
#footer .social a {
  margin-left: 15px
}
#footer #blue-nav {
  background-color: #00204d;
  margin-bottom: 10px
}
#footer #blue-nav ul {
  margin: 0;
  padding: 5px 0
}
#footer #blue-nav li {
  display: inline-block;
  margin-right: 30px
}
#footer #blue-nav li:last-child {
  margin-right: 0
}
#footer #blue-nav li a {
  color: #fff;
  font-weight: 400;
  text-decoration: none
}
#footer #blue-nav li a:hover {
  color: #00a1e0
}
@media screen and (max-width:970px) {
  #footer p, #footer .p {
    display: block;
    position: relative
  }
}
@media screen and (max-width:850px) {
  #footer {
    text-align: center
  }
  #footer #blue-nav li {
    margin-right: 24px
  }
  #footer .container p, #footer .container .p {
    width: 100%
  }
}
@media screen and (max-width:750px) {
  #footer span {
    display: block;
    padding: 0;
    border: 0
  }
  #footer p, #footer .p {
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-top: 20px;
    line-height: 1.5
  }
}
@media screen and (max-width:550px) {
  #footer #blue-nav li {
    display: block;
    margin: 10px !important;
    text-align: center
  }
}
#social-links {
  text-align: right;
  display: block;
  margin: 0;
  background-color: #e8ebef;
  padding: 0 0 30px
}
#social-links a {
  margin-left: 10px
}
#social-links a:first-of-type {
  margin-left: 0
}
#social-links a img {
  height: 30px
}
@media only screen and (max-width:767px) {
  #social-links {
    text-align: center
  }
}
#confidence, .banner-wrapper {
  display: block;
}
ul.social li {
  padding: 0;
  margin: 0;
  display: inline;
}
.white-bg {
  background: #fff !important;
}
.gray-bg {
  background: #5d5d5d !important;
}
.blue-bg {
  background: #609ee9 !important;
}
/*** CSS para el nuevo estilo de los banner hero ***/
.backblue {
  background-color: #004A98;
  opacity: 0.85;
  display: block;
  width: 715px;
  height: 250px;
  position: absolute;
  top: 5px;
  left: 0;
  transform: translate(-265px, 0);
  border-radius: 0 30px 30px 0;
  z-index: -1;
}
.backblue.inicio {
  width: 660px;
  height: 275px;
}
.backblue.plat-rew {
  width: 775px;
  height: 190px;
}
.backblue.plat-secu {
  width: 880px;
  height: 250px;
}
#banner {
  margin-bottom: 50px;
  background-color: #ebebeb;
  position: relative;
}
#banner .container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 25px);
  z-index: 1;
}
#banner h1 {
  font-family: 'Open Sans';
  color: white;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  display: inline-table;
}
#banner h1 span {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
}
#banner h1.inicio {
  font-size: 60px;
}
#banner h1.inicio span {
  font-family: 'Open Sans';
  font-size: 50px;
  line-height: 1.2;
}
@media screen and (max-width:1199px) {
  .backblue {
    width: 675px;
    height: 215px;
  }
  .backblue.inicio {
    width: 630px;
    height: 250px;
  }
  .backblue.plat-rew {
    width: 690px;
    height: 170px;
  }
  .backblue.plat-secu {
    width: 820px;
    height: 215px;
  }
  #banner h1 {
    font-size: 40px;
  }
  #banner h1 span {
    font-size: 23px;
  }
  #banner h1.inicio {
    font-size: 55px;
  }
  #banner h1.inicio span {
    font-family: 'Open Sans';
    font-size: 45px;
  }
}
  @media screen and (max-width:991px) {
    .backblue {
      width: 625px;
      height: 185px;
    }
    .backblue.inicio {
      width: 560px;
      height: 175px;
    }
    .backblue.plat-rew {
      width: 630px;
      height: 150px;
    }
    .backblue.plat-secu {
      width: 765px;
      height: 185px;
    }
    #banner h1 {
      font-size: 36px;
    }
    #banner h1 span {
      font-size: 20px;
    }
    #banner h1.inicio {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 45px;
    }
    #banner h1.inicio span {
      font-family: 'Open Sans';
      font-size: 35px;
    }
  }
  @media screen and (max-width:767px) {
    #banner .container {
      transform: translate(-50%, 15px);
    }
    .backblue {
      width: 635px;
      height: 195px;
    }
    .backblue.plat-rew {
      width: 690px;
    }
    .backblue.plat-secu {
      width: 735px;
      height: 195px;
    }
    #banner h1 {
      font-size: 34px;
    }
    #banner h1 span {
      font-size: 24px;
    }
  }
  @media screen and (max-width:564px) {
    #banner {
      padding-top: 80px;
      overflow: hidden;
    }
    #banner h1 {
      font-size: 20px !important;
      /*color: #004a98;*/
      text-align: center;
      transform: translate(0, -15px);
      width: 100%;
    }
    #banner h1 span {
      /*display: inline;*/
      font-size: 16px !important;
    }
    #banner h1 br.onlydesktop {
      display: none;
    }
    .backblue {
      opacity: 1;
      width: 600px !important;
      height: 90px !important;
      transform: translate(-30px, -25px);
    }
    .backblue.plat-secu {
      height: 115px !important
	  }
	}


.apr-block {
    width: 50%;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
}

 .apr-block:first-of-type {
    border-right: 1px solid #004a98;
}

.wrapper-logo .container {
  height: 45px;
}

@media (max-width: 600px){
  .wrapper-logo .container {
    height: 30px;
  }
}


.onlymobile {
    display: none
  }
  .onlydesktop {
    display: block
  }
@media screen and (max-width:767px) {
  .onlymobile {
    display: block
  }
  .onlydesktop {
    display: none
  }
}