/* PJ Changes*/ 

/* Validation styles */

.invalid {
  border-color: red;
}

.w-form-error {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #ffdede;
  color: red;
}

.w-form-error.visible {
  display: block;
}

.w-form-done.visible {
  display: block;
}
.w-form-fail.visible {
  display: block;
}
