.button_c {
	background-color: #0E6AAD;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 22px;
	width: 55px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.button_c:hover {
	background-color: #003F75;
	font-family: Arial, Helvetica, sans-serif;
}
BODY
{
    MARGIN: 0px;
    BACKGROUND-COLOR: #e8ebef
}
}

.button_c {
	background-color: #0E6AAD;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 22px;
	width: 55px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.button_c:hover {
	background-color: #003F75;
	font-family: Arial, Helvetica, sans-serif;
}
.field_c {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 22px;
	width: 105px;
	line-height: 12px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.field_c:hover {
	margin: 0px;
	padding: 0px;
	background-color: #E6F0FA;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.button_c_esp {
	background-color: #0E6AAD;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 22px;
	width: 65px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.button_c_esp:hover {
	background-color: #003264;
	font-family: Arial, Helvetica, sans-serif;
}

.field_c_esp {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 22px;
	width: 95px;
	line-height: 12px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
}
.field_c_esp:hover {
	margin: 0px;
	padding: 0px;
	color: #000000;
	border: 1px solid #666666;
	background-color: #F3F3F3;
}
.whitetext_big {
	FONT-SIZE: 15px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	line-height: 15px;
}
.smalltext5 {
	FONT-SIZE: 9px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: normal;
}
.smalltext5:link {
	COLOR: #006699;
	text-decoration: none;
}
.smalltext5:hover {
	COLOR: #004175;
	text-decoration: underline;
}
.smalltext5:visited {
	COLOR: #006699;
	text-decoration: underline;
}




.smalltext6 {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 16px;
}
.smalltext7 {
	FONT-SIZE: 9px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 9px;
	margin: 0px;
	padding: 0px;
}

.smalltext7:link {
	COLOR: #666666;
	text-decoration: none;
}
.smalltext7:hover {
	COLOR: #003F75;
	text-decoration: underline;
	cursor: pointer;
}



.bodytextbig_login2 {
	FONT-SIZE: 14px;
	COLOR: #666666;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
.security_loginb {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(images/security_loginbx.jpg);
	text-decoration: none;
	cursor: pointer;
	background-repeat: no-repeat;
	padding-right: 0px;
	padding-top: 0px;
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.security_loginb:hover {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	background-image: url(images/security_loginbx_over.jpg);
	text-decoration: none;
	background-repeat: no-repeat;
}
.blue_border {
	FONT-WEIGHT: normal;
	text-decoration: none;
	border: 1px solid #0069AA;
}
.userid {
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 12px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.shadow {
	background-image: url(images/2.jpg);
	background-repeat: repeat;
}
.smalltext6_esp {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 16px;
	margin: 0px;
	padding: 0px;
}
.smalltext5_esp {
	FONT-SIZE: 8px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 17px;
	margin: 0px;
	padding: 0px;
}

.smalltext5_esp:link {
	COLOR: #006699;
	text-decoration: none;
}
.smalltext5_esp:hover {
	COLOR: #004175;
	text-decoration: underline;
}
.smalltext5_esp:visited {
	COLOR: #006699;
	text-decoration: underline;
}
