
		body {
			font-family: 'Open Sans', sans-serif;
			margin: 0;
			padding: 0;
			font-size: 15px;
		    font-weight: 300;
		    line-height: 1.5;
		    color: #333;
		    position: relative;
		    min-height: 100%;
		    min-height: 100vh;
		}

		/*header {
			background-color: #EBEBEB;
			padding: 25px 25px;
		}

		header .logo {
			width: 25%;
			display: inline-block;
			vertical-align: middle;
		}
		*/
		h1 {
			text-align: center;
		    font-weight: 300;
	    	font-size: 35px;
	    	margin: 0;
		    color: #004a98;
		    font-family: 'Open Sans', sans-serif;
		        vertical-align: middle;
		        margin-bottom: 50px;
		        margin-top: 20px;
		}


		.white {
		    color: #fff;
		}
		.text-link {
		    text-decoration: none;
		}

		.text-link:hover {
		    color: #00A1E0;
		}

		.link-blue-dark {
		    color: #0b3b9e;
		    text-decoration: none;
		}

		.link-blue-dark:hover {
		    color: #00A1E0;
		}

		header .wrapper-logo{
		  padding: 20px 0;
		}
		header .wrapper-logo img{
		  width: 100%;
		  max-width: 280px;
		}
		header .float-right{
		  background-color: #1C2B3A;
		  padding: 5px 0;
		  text-align: right;
		}

		.container{
		  max-width: 970px;
		  width: 90%;
		  margin:0 auto;
		  position: relative;
		}

		.mainWrap {
			padding: 0 25px 150px 25px;
		}

		#pac-input {
	        background-color: #fff;
	        font-family: Roboto;
	        font-size: 15px;
	        font-weight: 300;
	        margin-left: 12px;
	        padding: 0 11px 0 13px;
	        text-overflow: ellipsis;
	        width: 300px;
	        top: 10px !important;
	    	height: 26px;
	    	display: none;
	    }

		.theinput {
	        background-color: #fff;
	        font-family: Roboto;
	        font-size: 15px;
	        font-weight: 300;
	        margin-left: 12px;
	        padding: 0 11px 0 13px;
	        text-overflow: ellipsis;
	        width: 300px;
	        top: 10px !important;
	    	height: 26px;
	    }


		#miles {
	        background-color: #fff;
	        font-family: Roboto;
	        font-size: 15px;
	        font-weight: 300;
	        margin-left: 12px;
	        padding: 0 11px 0 13px;
	        text-overflow: ellipsis;
	        width: 100px;
	        margin-top: 10px;
	        margin-bottom: 15px;
	    	height: 26px;
	    }

	    .nice-select{
	    	float: right;
	    	margin-top: 10px;
	        margin-bottom: 15px;
	    	width: 100%;
	    	font-size: 15px;
    	    border-radius: 7px;
		    border: solid 1.5px #909090;
		    z-index: 1;
	    }

	    .nice-select:after {
		    border-bottom: 2px solid #666;
    		border-right: 2px solid #666;
    		content: '';
    		display: block;
    		height: 5px;
		    margin-top: -4px;
		    pointer-events: none;
		    position: absolute;
		    right: 12px;
		    top: 60%;
		    -webkit-transform-origin:  50% 50%;
		    -ms-transform-origin:  50% 50%;
		    transform-origin:  50% 50%;
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		    -webkit-transition: all 0.15s ease-in-out;
		    transition: all 0.15s ease-in-out;
		    width: 5px;
		}

		.nice-select:before {
		    border-top: 2px solid #5F5F5F;
    		border-left: 2px solid #5F5F5F;
    		content: '';
    		display: block;
    		height: 5px;
		    margin-top: -4px;
		    pointer-events: none;
		    position: absolute;
		    right: 12px;
		    top: 40%;
		    -webkit-transform-origin: 50% 50%;
		    -ms-transform-origin:   50% 50%;
		    transform-origin:   50% 50%;
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		    -webkit-transition: all 0.15s ease-in-out;
		    transition: all 0.15s ease-in-out;
		    width: 5px;
		}

		.nice-select.open:before {
			-webkit-transform: rotate(-135deg);
    		-ms-transform: rotate(-135deg);
    		transform: rotate(-135deg)
		}

	    .ratio-title {
	    	float: left;
	    	margin-top: 10px;
	    	font-size: 14px;
	    	color: #0F0F0F;
	    }

	    #nearTitle {
	    	font-size: 18px;
    		color: #9f9f9f;
    		color: #0f0f0f;
    		font-weight: 400;
	    }

	    #nearList {
	      	list-style: none;
	      	padding-left: 0;
	      	padding-right: 15px;
	    }

	    #nearList li {
	      	cursor: pointer;
     	
	      	padding-bottom: 20px;
	      	position: relative;
	      	padding-top: 20px;
	      	border: solid 1px transparent;
	      	border-bottom: 1px solid #5f5f5f;
	      	transition: .5s ease all;

	    }

	    #nearList li:hover {
	    	background-color: #EBEBEB;
	    	border: solid 1px #F0F0F0;
	    }

	    #nearList li img {
	     	position: absolute;
	    }

	    #nearList li img.address, #nearList li img.phone {
	     	position: relative;
	     	width: 25px;
	     	vertical-align: middle;
	     	margin-right: 10px;
	    }

	    #nearList li img.phone {
	     	width: 20px;
	     	margin-left: 2.5px;
	     	margin-right: 12.5px;
	    }

	    #nearList li img.logo {
	    	position: relative;
	    	width: 55%;
		    display: block;
	    	left: 50px;
		    /* clear: both; */
		}

		#nearList li img.branch-photo {
	    	position: relative;
	    	display: block;
	    	max-width: calc(100% - 70px);
		}		

	    #nearList li label {
	    	color: #5F5F5F;
	    	color: #202020;
	    	margin-left: 87px;
	    	font-size: 12px;
	    	display: block;
	    	line-height: 1.5;
	    	transition: ease all .5s;
	    	text-indent: -37px;
	    }

	    #nearList li label.city {
	    	margin-left: 87px;
	    	/*margin-top: -15px;*/
	    	text-indent: 0;
	    }
	    #nearList li label.directions {
	    	margin-left: 87px;
	    	font-size: 10px;
	    	color: #0b3b9e;
	    	text-indent: 0;
	    }

	    #nearList li label.name{
	       	margin-left: 87px;
	       	font-size: 14px;
	       	line-height: 40px;
	       	color: #0F0F0F;
	    }


	    #nearList li p{
	    	color: #5F5F5F;
	    	font-size: 12px;
	    	line-height: 1.5;
	    }

	    .link-map {
	    	text-decoration: none;
	    }

	    .link-map label{
	    	text-decoration: none;
	    	cursor: pointer!important;
	    }

	    .link-map:hover label {
	    	color: #00A1E0!important;
	    }

   	    .link-map.phone {
	    	margin-left: 87px;
	    	font-size: 10px;
	    	color: #0b3b9e;
	    	text-indent: 0;
	    }


	    .w75 {
	    	width:49%;
	    	padding-right: 0.5%;
	    }

	    .w25 {
	    	width: 49%;
	    	padding-left: 0.5%;
	    	
	    }

	    .w50 {
    	    width: 48.5%;
		    padding: 0 0.5%;
		    display: inline-block;
		    vertical-align: top;
	    }

	    .w100 {
            width: 100%;
		    display: inline-block;
		    vertical-align: top;
	    }

	    .w100 label {
	    	margin-left:  2.5%!important;
	    }

	    .p-left {
	    	margin-left: 52px;
	    }

	    #map {
	    	margin-bottom: 25px;
	    }

  		.branch-map#map {
	 		margin-bottom: 0;
		}


	    .block {
	    	display: inline-block; 
	    	vertical-align: top;
	    }

		footer {
		    background-color: #E1DEDE;
		    padding: 0 0 30px 0;
		    margin-top: 30px;
		}
		footer {
		    padding: 20px 0;
		    position: relative;
		}
		footer #blue-nav {
		    background-color: #00204D;
		    margin-bottom: 10px;
		}

		footer #blue-nav ul {
		    margin: 0;
		    padding: 5px 0;
		}

		footer #blue-nav li {
		    display: inline-block;
		    margin-right: 30px;
		}

		footer #blue-nav li a {
		    color: #fff;
		    font-weight: 400;
		    text-decoration: none;
		}

		footer p{
		  font-size: 12px;
		  line-height: 10px;
		}
		footer span{
		  font-size: 12px;
		  padding-left: 10px;
		  margin-left: 10px;
		  border-left: 1px solid #0b3b9e;
		}
		footer span:first-child{
		  font-size: 12px;
		  padding-left: 0px;
		  margin-left: 0px;
		  border-left: 0px;
		}
		footer span:last-child{
		  font-size: 12px;
		  margin-right: 10px;
		}
		footer p{
		  position: absolute;
		  right: 0;
		  top: 50%;
		  transform:translateY(-50%);
		}

		footer{
		  background-color: #E1DEDE;
		  padding: 0 0 30px 0;
		  margin-top: 30px;
		  position: absolute;
		  width: 100%;
		  bottom: 0;
		  margin-bottom: 25px;
		}
		footer img{
		    width: 130px;
		}
		footer #blue-nav {
		  background-color: #00204D;
		  margin-bottom: 10px;
		}
		footer #blue-nav ul{
		  margin:0;
		  padding: 5px 0;
		}
		footer #blue-nav li{
		  display: inline-block;
		  margin-right: 30px
		}
		footer #blue-nav li:last-child{
		  margin-right: 0px
		}
		footer #blue-nav li a {
		  color:#fff;
		  font-weight: 400;
		  text-decoration: none;
		}
		footer #blue-nav li a:hover {
		  color:#00A1E0;
		}

		#social-links{
		  text-align: right;
		  display: block;
		  margin: 0 0 0px;
		  background-color: #E1DEDE;
		  padding: 0 0 15px 0;
		}
		#social-links a {
		  margin-left: 10px;
		}

		#social-links a:first-of-type {
		  margin-left: 0px;
		}

		#social-links a img{
		  height: 30px;
		}


		h1 {
			text-align: center;
		}



		@media screen and (max-width: 970px) {
			footer p {
			    display: block;
			    position: relative;
			    margin-top: 30px;
			}	
		}
		@media screen and (max-width: 850px) {
			footer #blue-nav li {
			    margin-right: 24px;
			}
		}

		@media only screen and (max-width: 899px) {
		    .w50 {
		    	width: 100%;
		    	padding: 5px;
		    }

		    .w50 p {
		    	margin-left: 52px;
		    }

		    .w50 .hide-mobile {
				display: none;
			}

		    #nearList li img.logo {
			    width: 40%;
			}

			#nearList li img.branch-photo {
				margin-left: 52px;
	    	}

		}

		.w100 label {
	    	margin-left: 87px!important;
		}

	    @media only screen and (max-width: 768px) {
	    	h1 {
			    font-size: 20px;
		    }

		    .w75 {
		    	width:100%;
		    	padding: 5px
		    }

		    .w25 {
		    	width: 100%;
		    	padding: 5px;
		    }

		    .w100 {
		    	width: 100%;
		    }


			.mainWrap {
				padding: 0 25px 400px 25px;
			}

			.hide-mobile {
				display: none;
			}


	    	.p-left {
	    		margin-bottom: 0;
	    	}

				/*line-height: 1.5;*/
			

			footer span {
			    display: block;
			    padding: 0;
			    margin: 10px 0;
			    border: 0;
			}	
		}

		@media only screen and (max-width: 565px) {
		 	.theinput {
		 		width: calc(100% - 215px);
		 	}
		}

		@media screen and (max-width: 550px) {
			footer #blue-nav li {
			    display: block;
			    margin: 10px !important;
			    text-align: center;
			}
		}



		.image-and-map {
			width: 100%;
		    overflow: auto;
		    max-width: 1366px;
    		margin: 0 auto 25px auto;
		}

		.image-and-map img {
			width: 100%;
		}

		.float50 {
		    width: 50%;
		    padding: 0;
		    display: block;
		    vertical-align: top;
		    float: right;
		}


		@media only screen and (max-width: 565px) {
		 	.float50 {
	    		width: 100%;
		 	}
		}
	

		.button-map {
		  background-color: #004a98;
		  color: white;
		  border: 0;
		  padding: 10px 20px;
		  cursor: pointer;
		  transition: all ease .5s;
		  margin: 0 auto;
		  display: inline-block;
		  width: fit-content;
		  text-decoration: none;
		}

		.button-map:hover {
		  background-color: #00A1E0;
		}


		.col75 {
	    	width: 70%;
	    	padding: 0 2.5%;
	    	display: inline-block;
		    vertical-align: top;
	    }

	    .col50 {
	    	width: 44%;
		    padding: 0 2.5%;
		    display: inline-block;
		    vertical-align: top;
		    margin-bottom: 15px;
	    }

   		


	    .col25 {
	    	width: 19%;
	    	padding: 0 2.5%;
	    	display: inline-block;
		    vertical-align: top;
	    	
	    }

	    .text-right {
	    	text-align: right;
	    }

	    .text-left {
	    	text-align: left;
	    }

	    .text-center {
	    	text-align: center;
	    }

	    .solo-movil {
	    	display: none;
	    	margin-bottom: 25px;
	    }

	    .solo-desktop {
	    	display: block;
	    }

	    .solo-desktop.col50 {
	    	display: inline-block;
	    }

	    @media only screen and (max-width: 576px) {
		    .solo-movil {
		    	display: block;
		    }
		    .solo-desktop {
		    	display: none!important;
		    }
		    .wrapper-logo {
		    	text-align: center;
		    }

		    .mainBranch .col50 {
		    	width: 100%;
		    	padding: 0;
		    }

		}


		.linktel {
			color: #333;
			text-decoration: none;
			transition: ease all .5s;
		}

		.linktel:hover {
			color: #00A1E0;
		}


		.noshow {
			display: none!important;
		}



		.no-break {
  white-space: nowrap;
}

.covid19 {
  background-color: #FFFFFF;
  border: solid 1px red;
  min-width: auto;
    width: 100%;

    margin-top: 10px;

  
  text-align: center;
}
.covid19 p {
  font-size: 13px!important;
  padding: 25px 50px 10px 50px;
}
.covid19 a {
  margin-top: 7.5px;
  margin-bottom: -10px;
  display: block;
  text-decoration: none;
  color: #024E95;
}

.covid19 a:hover {
    color: #00A1E0;
}

@media screen and (max-width: 767px) {
  .covid19 {
    margin-bottom: 35px;
  }
}