body {
  font-family: 'Open Sans', sans-serif;
  color: #494949;
  font-size: 14px;
  line-height: 20px;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero {
  height: 40vh;
  min-height: 444px;
  padding: 50px 0px;
  background-image: url(../images/digital-wallet-hero-main.jpg) , -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: url(../images/digital-wallet-hero-main.jpg) , linear-gradient(180deg, transparent, transparent);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  transition: background-position 0.5s;
  transition: background-size 0.5s;
  transition: height 0.5s;
  transition: padding 0.5s;
}
.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav {
  width: 100%;
  height: 34px;
  text-align: right;
}
.nav-link {
  display: inline;
  padding: 0px 10px 0px 13px;
  color: #494949;
  line-height: 34px;
  font-style: normal;
}
.nav-link:hover {
  color: #004a98;
}
.nav-link.nolink {
  padding-right: 0px;
  padding-left: 0px;
}
.hero-txt {
  width: 34%;
  color: #004a98;
  font-size: 44px;
  line-height: 1.3em;
  font-weight: 600;
}
.container {
  padding-right: 30px;
  padding-left: 30px;
}
.h2 {
  display: block;
  width: 80%;
  margin: 60px auto 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #004a98;
  font-size: 36px;
  line-height: 1.5em;
  font-weight: 400;
  text-align: center;
}
.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  min-height: 200px;
  padding: 40px 0px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}
.h3 {
  min-height: 2.4em;
  color: #000;
  font-size: 21px;
  line-height: 1.2em;
  font-weight: 600;
  text-align: center;
}
.h3.regular {
  margin-top: 0px;
  font-size: 26px;
  line-height: 1.7em;
  font-weight: 300;
}
.p-feature {
  margin-top: -15px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
}
.inline-gal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 145px;
  margin-top: 40px;
  margin-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.gal-pic {
  max-height: 195px;
  max-width: 25%;
}
.air-60 {
  width: 100%;
  height: 60px;
  clear: both;
}
.feat-icon {
  height: 55px;
}
.payment-methods {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #f8f8f8;
}
.method {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 30px;
  border-bottom: 1px solid #c4c4c4;
}
.method.last {
  margin-bottom: 70px;
}
.pay-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 305px;
  max-width: 100px;
  min-height: 100px;
  margin-right: 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.heading {
  margin-top: 15px;
  margin-bottom: 0px;
  color: #000;
  font-weight: 600;
}
.larger {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
}
.foot-notes {
  margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 1px solid #e5e5e5;
  font-size: 11px;
  line-height: 1.5em;
  font-weight: 300;
}
.sub {
  position: relative;
  bottom: 4px;
  margin-right: 3px;
  padding-left: 3px;
  color: #000;
  font-size: 10px;
  font-weight: 400;
}
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  max-width: 940px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #fff;
  line-height: 50px;
}
.foot-link {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #fff;
  color: #fff;
  line-height: 1.2em;
  font-weight: 400;
}
.foot-link:hover {
  opacity: 0.85;
}
.foot-link.last {
  border-right-width: 0px;
}
.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #5c636a;
}
.disclaimer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 10px;
}
.social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 40px;
    padding-right: 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: flex-end;
}
.icon-social {
    width: 23px;
    height: 23px;
    border: 0px solid #000;
    margin: 3px;
}
.icon-social:hover {
  opacity: 0.85;
}
.icon-fdic {
  display: inline-block;
  width: 15px;
  height: 25px;
  margin-right: 5px;
  margin-left: 10px;
  background-image: url('../images/icon-fdic-member.svg');
  background-position: 0px 0px;
  background-size: 15px 18px;
  background-repeat: no-repeat;
  opacity: 1;
  color: hsla(0, 0%, 100%, 0);
}
.copy {
  margin-bottom: 0px;
  /* font-size: 10px; */
  font-weight: 300;
}
.mini-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.mini-li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  padding-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border-right: 1px solid #004a98;
  color: #004a98;
  font-size: 10px;
  line-height: 1.2em;
  font-weight: 300;
  text-decoration: underline;
}
.mini-li:hover {
  color: #002e5f;
}
.mini-li.last {
  border-right-width: 0px;
}
.head-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.hero-container {
  padding-right: 30px;
  padding-left: 30px;
}
.air-20 {
  height: 20px;
}
a {
  text-decoration: none !important;
}
.nolink {
  pointer-events: none;
}
.footer {
  max-width: 100% !important;
  width: 100%;
}
div:focus, a:focus {
  outline: blue solid 2px;
}
/* Spanish Exceptions */
article.es .p-feature {
  margin-top: 0;
}
article.es .hero-txt {
  width: 42%;
}
.mini-links ul, .mini-links ul li, .social ul, .social ul li, .nav-container ul, .nav-container ul li, .nav ul, .nav ul li{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
.terms-block {
    font-size: 20px;
    padding: 35px 30px;
    border-bottom: 1px solid #c4c4c4;
	text-align: center;
	margin: 0 auto;
}
.link-set a{
	font-size: 14px;
    padding: 15px;
    display: inline-block;
	color: #004a98;
	font-weight: bold;
}
.link-set a:hover{
	color: #002e5f;
}
.method.more {
  padding: 0 0 30px 0;
}
.method.more .link-set a {
  font-size: 18px;
}
/* --- MEDIA ---- */
@media (min-width: 1400px) {
  .hero {
    height: 575px;
    padding: 50px 0px;
    background-image: url(../images/digital-wallet-hero-main.jpg), -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f2f2f2));
    background-image: url(../images/digital-wallet-hero-main.jpg), linear-gradient(180deg, #f2f2f2, #f2f2f2);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 991px) {
  .hero {
    height: 38vh;
    min-height: 444px;
    padding: 50px 0px;
    background-image: url(../images/digital-wallet-hero-main.jpg), -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f2f2f2));
    background-image: url(../images/digital-wallet-hero-main.jpg), linear-gradient(180deg, #f2f2f2, #f2f2f2);
    background-position: 50% 0;
    background-size: cover, auto;
  }
  .nav-link {
    padding-right: 13px;
  }
  .hero-txt {
    font-size: 38px;
  }
  .inline-gal {
    max-height: 145px;
    margin-bottom: 70px;
  }
  .gal-pic {
    max-height: 158px;
  }
  .copyright {
    height: auto;
  }
  .social {
    width: 140px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .icon-social {
    width: 25px;
    height: 25px;
  }
  .air-20 {
    height: 20px;
  }
}


@media (max-width: 880px) {
  .hero {
    height: 35vh;
    min-height: 375px;
    padding: 50px 0px;
    background-image: url('../images/digital-wallet-hero-main.jpg'), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url('../images/digital-wallet-hero-main.jpg'), linear-gradient(180deg, transparent, transparent);
    background-position: 50% 0;
    background-size: cover, auto;
  }
}
@media (max-width: 767px) {
  .header {
    padding-right: 30px;
    padding-left: 30px;
  }
  .hero {
    height: 183px;
    padding-bottom: 30px;
    background-image: url('../images/digital-wallet-hero-main.jpg');
    background-position: -200px 55px;
    background-size: 140%;
    padding-top: 100px;
    position: relative;
    padding: 0;
  }
  .brand {
    position: relative;
    z-index: 100;
  }
  .logo-holder {
    position: relative;
    z-index: 150;
    width: auto;
  }
  .nav {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    line-height: 14px;
  }
  .nav-link {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-txt {
    font-size: 30px;
  }
  .h2 {
    font-size: 26px;
  }
  .feature {
    min-height: 180px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .h3 {
    min-height: 2.2em;
    font-size: 16px;
    line-height: 1.1em;
  }
  .p-feature {
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
  }
  .inline-gal {
    max-height: 110px;
  }
  .feat-icon {
    height: 45px;
  }
  .method {
    padding-right: 30px;
    padding-left: 30px;
  }
  .method.last {
    margin-bottom: 55px;
  }
  .heading {
    font-size: 15px;
  }
  .larger {
    font-size: 14px;
  }
  .foot-notes {
    padding-bottom: 30px;
  }
  .footer {
    display: block;
  }
  .nav-container {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 13px;
    text-align: center;
  }
  .foot-link {
    padding-right: 0px;
    border-right-width: 0px;
    line-height: 1.5em;
    font-size: 12px;
  }
  .disclaimer {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .copyright {
    display: block;
    width: 100%;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .social {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .icon-social {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 10px;
  }
  .copy {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 13px;
    line-height: 1.5em;
    text-align: center;
  }
  .mini-links {
    height: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }
  .mini-li {
    font-size: 12px;
  }
  .mini-li.last {
    padding-right: 0px;
  }
  .text-span {
    width: 100%;
  }
  .head-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .paragraph {
    line-height: 1.7em;
  }
  .hero-txt {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 888;
    background: #fff;
    display: block;
    padding: 20px;
    text-align: center;
  }
  article.es .hero-txt {
    width: 100%;
  }
  article.es .hero-txt br {
    display:none;
  }
}
@media (max-width: 479px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70px;
  }
  .hero {
    height: 210px;
    padding-top: 29px;
    padding-bottom: 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0.85)), color-stop(72%, hsla(0, 0%, 100%, 0))), url('../images/digital-wallet-hero-main.jpg');
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.85), hsla(0, 0%, 100%, 0) 72%), url('../images/digital-wallet-hero-main.jpg');
    background-position: 0px 0px, 77% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .brand {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    overflow: hidden;
    width: 34px;
    min-height: 34px;
    margin-right: 30px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .logo-holder {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: auto;
    height: 34px;
    min-width: 34px;
    float: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -o-object-fit: none;
    object-fit: none;
  }
  .nav {
    display: inline-block;
    width: auto;
    float: right;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .nav-link {
    font-size: 12px;
  }
  .logo {
    max-width: 222px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .hero-txt {
    width: 52%;
    margin-top: 0px;
    font-size: 26px;
  }
  .h2 {
    width: 100%;
    font-size: 26px;
    line-height: 1.5em;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature {
    width: 100%;
    max-width: 100%;
    padding: 30px 0px 20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .h3 {
    font-size: 18px;
  }
  .h3.regular {
    font-size: 20px;
  }
  .p-feature {
    padding-right: 0px;
    padding-left: 0px;
  }
  .inline-gal {
    max-height: 57px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .method {
    padding: 0px 30px 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .method.last {
    margin-bottom: 50px;
    padding-top: 10px;
  }
  .pay-logo {
    min-height: 80px;
    margin-top: 20px;
    margin-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .heading {
    margin-bottom: 10px;
  }
  .nav-container {
    height: auto;
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: left;
  }
  .foot-link {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-right-width: 0px;
    font-size: 14px;
    line-height: 2.5em;
  }
  .footer-nav {
    height: auto;
    max-height: 500px;
  }
  .disclaimer {
    max-width: 937px;
  }
  .copyright {
    padding-right: 0px;
    padding-left: 0px;
  }
  .social {
    width: 100%;
  }
  .copy {
    height: auto;
  }
  .mini-links {
    margin-ftop: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .mini-li {
    min-height: 2.4em;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #004a98;
  }
  .head-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .copy-brand {
    display: block;
    padding-bottom: 5px;
  }
}