.a22:link {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a22:visited {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a22:hover {
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:underline;
	cursor:hand;
}
.a22:focus {
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
}
    
.head, li, h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
    .head {
	text-decoration: none;
	background-attachment: scroll;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	display: block;
	font-weight: normal;
	color: #006699;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
	}
.head:hover {
	text-decoration: underline;
	background-attachment: scroll;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	display: block;
	font-weight: normal;
	color: #003264;
}
    .content {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 12px;
	line-height: 19px;
	font-weight: normal;
}
BODY
{
    MARGIN: 0px;
    BACKGROUND-COLOR: #e8ebef
}
.dotted_sep
{
	BACKGROUND-POSITION: left;
	BACKGROUND-IMAGE: url(images/dotted_vertical.jpg);
	BACKGROUND-REPEAT: repeat-y
}
.dotted_sep2
{
    BACKGROUND-POSITION: center;
    BACKGROUND-IMAGE: url(esp/images/dotted_vertical2.jpg);
    BACKGROUND-REPEAT: repeat-y
}
.tabbg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BACKGROUND-IMAGE: url(esp/images/tab_bg.jpg);
    COLOR: #5a5959;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: 'Myriad Pro'
}


.a1:link
{
    FONT-WEIGHT: 300;
    FONT-SIZE: 9px;
    COLOR: #5a5959;
    FONT-FAMILY: Arial;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.a1:visited
{
    FONT-WEIGHT: 300;
    FONT-SIZE: 9px;
    COLOR: #5a5959;
    FONT-FAMILY: Arial;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.a1:hover
{
    FONT-WEIGHT: 300;
    FONT-SIZE: 9px;
    COLOR: #1b6dba;
    FONT-FAMILY: Arial;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.a1:focus {
	FONT-WEIGHT: 300;
	FONT-SIZE: 9px;
	COLOR: #1b6dba;
	FONT-FAMILY: Arial;
	LETTER-SPACING: 0px;
	TEXT-DECORATION: none
}
.a2:link
{
    FONT-SIZE: 10px;
    COLOR: #666666;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
.a2:visited
{
    FONT-SIZE: 10px;
    COLOR: #666666;
    FONT-FAMILY: "Verdana";
    TEXT-DECORATION: none
}
.a2:hover
{
    FONT-SIZE: 10px;
    COLOR: #0a60b1;
    FONT-FAMILY: "Verdana"
}
.a2:focus {
	FONT-SIZE: 10px;
	COLOR: #0a60b1;
	FONT-FAMILY: "Verdana"
}
.a3:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #5a5959;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.a3:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #5a5959;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.a3:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #1b6dba;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.a3:focus {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #1b6dba;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}
.a4:link
{
    FONT-SIZE: 10px;
    COLOR: #0a60b1;
    FONT-FAMILY: Verdana
}
.a4:visited
{
    FONT-SIZE: 10px;
    COLOR: #0a60b1;
    FONT-FAMILY: Verdana
}
.a4:hover
{
   FONT-SIZE: 10px;
    COLOR: #666666;
    FONT-FAMILY: Verdana
}
.a4:focus {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana
}
.a5:link
{
    FONT-SIZE: 10px;
    COLOR: #8f8f8f;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.a5:visited
{
    FONT-SIZE: 10px;
    COLOR: #8f8f8f;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.a5:hover
{
    FONT-SIZE: 10px;
    COLOR: #0a60b1;
    FONT-FAMILY: Arial
}
.a5:focus {
	FONT-SIZE: 10px;
	COLOR: #0a60b1;
	FONT-FAMILY: Arial
}
.a6:link
{
	FONT-SIZE: 10px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}
.a6:visited
{
	FONT-SIZE: 10px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}
.a6:hover
{
	FONT-SIZE: 10px;
	COLOR:#003264;
	FONT-FAMILY: Verdana;
	text-decoration:underline;
}
.a6:focus {
	FONT-SIZE: 10px;
	COLOR:#003264;
	FONT-FAMILY: Verdana;
	text-decoration:underline;
}

.a7:link
{
	FONT-SIZE: 10px;
	font-weight:bold;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration: none;

}
.a7:visited
{
	FONT-SIZE: 10px;
	font-weight:bold;
	COLOR:#006699;
	FONT-FAMILY: Verdana;
	text-decoration: none;

}
.a7:hover
{
	FONT-SIZE: 10px;
	font-weight:bold;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
}
.a7:focus {
	FONT-SIZE: 10px;
	font-weight:bold;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
}
.a8 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.a8:link
{
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration: none;

}
.a8:visited
{
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration: none;

}
.a8:hover
{
	FONT-SIZE: 12px;
	COLOR: #003264;
	FONT-FAMILY: Verdana;
	text-decoration:underline;
	cursor: pointer;
}
.a8:focus {
	FONT-SIZE: 12px;
	COLOR: #003264;
	FONT-FAMILY: Verdana;
	text-decoration:underline;
}
.a9:link
{
    FONT-SIZE: 11px;
    COLOR: #666666;
    FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a9:visited
{
   	 FONT-SIZE: 11px;
    COLOR: #666666;
    FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a9:hover
{
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
	background-color: #d7e7f8;

}
.a9:focus {
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
	background-color: #d7e7f8;
}


.a10:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.a10:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.a10:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR:#003264;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.a10:focus {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR:#003264;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}

.a11:link
{
    FONT-SIZE: 11px;
    COLOR: #006699;
    FONT-FAMILY: Verdana;
	text-decoration:underline;
}
.a11:visited
{
   	FONT-SIZE: 11px;
    COLOR: #006699;
    FONT-FAMILY: Verdana;
	text-decoration:underline;
}
.a11:hover
{
    FONT-SIZE: 11px;
    COLOR: #006699;
    FONT-FAMILY: Verdana;
	text-decoration:underline;
}
.a11:focus {
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:underline;
}
.a12:link
{
    BORDER: #bacdeb 1px solid;
    BACKGROUND-COLOR: #e4effa;
}
.a12:visited
{
   	BORDER: #bacdeb 1px solid;
    BACKGROUND-COLOR: #e4effa;
}
.a12:hover
{
    BORDER: #bacdeb 1px solid;
	background-color:#d7e6f7;
	cursor:hand;
}
.a12:focus {
	BORDER: #bacdeb 1px solid;
	background-color:#d7e6f7;
	cursor:hand;
}
.a13:link
{
    FONT-SIZE: 13.5px;
	font-weight:bold;
    COLOR: #006699;
    FONT-FAMILY:"Myriad Pro";
	text-decoration:none;
}
.a13:visited
{
   	FONT-SIZE: 13.5px;
	font-weight:bold;
    COLOR: #006699;
    FONT-FAMILY:"Myriad Pro";
	text-decoration:none;
}
.a13:hover
{
   	FONT-SIZE: 13.5px;
	font-weight:bold;
    COLOR: #003264;
    FONT-FAMILY:"Myriad Pro";
	text-decoration:none;
}
.a13:focus {
	FONT-SIZE: 13.5px;
	font-weight:bold;
	COLOR: #003264;
	FONT-FAMILY:"Myriad Pro";
	text-decoration:none;
}
.a14:link
{
	FONT-SIZE: 12px;
	COLOR: #282828;
	FONT-FAMILY: Verdana;
	text-decoration: none;

}
.a14:visited
{
	FONT-SIZE: 12px;
	COLOR: #282828;
	FONT-FAMILY: Verdana;
	text-decoration: none;

}
.a14:hover
{
    FONT-SIZE: 12px;
    COLOR: #006699;
    FONT-FAMILY: Verdana;
	text-decoration:underline;
}
.a14:focus {
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:underline;
}
.a15:link {
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a15:visited {
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a15:hover {
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
	background-color: #e4effa;
}
.a15:focus {
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
	background-color: #e4effa;
}
.a16:link {
	FONT-SIZE: 12px;
	COLOR: #CA6B02;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a16:visited {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a16:hover {
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
}
.a16:focus {
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
}
.a17:link {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}
.a17:visited {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}
.a17:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR:#003264;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}
.a17:focus {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR:#003264;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}
.a18:link {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}
.a18:visited {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}
.a18:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR:#003264;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}
.a18:focus {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR:#003264;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}
.a19 {
	COLOR: #FF0000
}
.a20 {
	COLOR: #00CC00
}
.a20:link {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a20:visited {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a20:hover {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
	background-color: #d7e7f8;
}
.a20:focus {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
	background-color: #d7e7f8;
}
.a21:link {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a21:visited {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a21:hover {
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
}
.a21:focus {
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
}



.inputtext
{
    BORDER-RIGHT: #dedede 1px solid;
    BORDER-TOP: #dedede 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #dedede 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #dedede 1px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16px;
    BACKGROUND-COLOR: #ffffff
}
.inputtext2
{
	BORDER-RIGHT: #a0a1a1 1px solid;
	BORDER-TOP: #a0a1a1 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #a0a1a1 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #a0a1a1 1px solid;
	FONT-FAMILY: Verdana;
	HEIGHT: 20px;
	line-height:20px;
	BACKGROUND-COLOR: #ffffff
}
.merchant_form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 12px;
	text-align: left;
}

.listmenu
{
    BORDER-RIGHT: #c5c5c5 1px solid;
    BORDER-TOP: #c5c5c5 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #c5c5c5 1px solid;
    WIDTH: 120px;
    COLOR: #000000;
    BORDER-BOTTOM: #c5c5c5 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #ffffff
}
.buttonstyle
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    BACKGROUND-IMAGE: url(images/buttonbg.jpg);
    BORDER-LEFT: #ffffff 1px solid;
    COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-FAMILY: "Verdana";
    HEIGHT: 22px
}
.bodytext
{
    FONT-SIZE: 11px;
    COLOR: #666666;
    LINE-HEIGHT: 17px;
    FONT-FAMILY: "Verdana"
}
.bodytextbig
{
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;

}
.bodytextbigblack
{
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;

}
.blackitalic
{
	FONT-SIZE: 12px;
	COLOR: #000000;
	font-style:italic;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;

}
.bodytextbiglinks
{
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 21px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;

}

.greytext
{
    FONT-SIZE: 10px;
    COLOR: #8f8f8f;
    FONT-FAMILY: "Verdana"
}
.navtext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #b52222;
    FONT-FAMILY: "Verdana"
}
.blacktext
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.whitetext
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: "Verdana"
}
.footertext
{
	FONT-SIZE: 11px;
	COLOR: #5c5c5c;
	FONT-FAMILY: Verdana;
	font-weight: normal;
	line-height: 14px;
}
.heading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #467ea2;
    FONT-FAMILY: Verdana
}
.blueheading
{
	FONT-WEIGHT: normal;
	FONT-SIZE: 14px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueheading2
{
	FONT-SIZE: 14px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;

}
.blueheadingsmall
{
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	font-weight: normal;

}
.blueheadingsmall2 {
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	font-weight: normal;
	line-height: 12px;
}

.bluebox
{
    BORDER-RIGHT: #bacdeb 1px solid;
    BORDER-TOP: #bacdeb 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #bacdeb 1px solid;
    COLOR: #767777;
    BORDER-BOTTOM: #bacdeb 1px solid;
    FONT-FAMILY: "Verdana";
    BACKGROUND-COLOR: #d1e2f5
}
.heading2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #8f8e8f;
    FONT-FAMILY: 'Myriad Web Pro'
}
.datetext
{
    FONT-SIZE: 9px;
    COLOR: #333333;
    FONT-FAMILY: Verdana
}
.smalltext
{
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
}
.smalltext2
{
	FONT-SIZE: 10px;
	COLOR: #666666;
	line-height:12px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.smalltext3 {
	FONT-SIZE: 7px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
}
.smalltext4 {
	FONT-SIZE: 9px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	line-height: 12px;
}

.smallbluetext
{
    FONT-SIZE: 9px;
    COLOR: #006699;
    FONT-FAMILY: Verdana;
}
.darkbluebold
{
    FONT-SIZE: 10px;
	font-weight:bold;
    COLOR: #006699;
    FONT-FAMILY: Verdana;
}

.tablebluebg
{
	background-color:#e8f1fa;
	padding-left:5px;
	FONT-SIZE: 10px;
	COLOR: #464646;
	FONT-FAMILY: Verdana;
	height: 22px;
	vertical-align: middle;




}
.tablewhitebg
{
	background-color:#FFFFFF;
	padding-left:5px;
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	vertical-align: middle;
	height: 18px;


}
.bordertop
{
	BORDER-TOP: #000000 1px solid;
}
.blueboxtext
{
	FONT-SIZE: 11px;
    COLOR: #666666;
    FONT-FAMILY: Verdana;

}
.tableblueboxbluetext
{
	background-color:#e4eff9;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:8px;
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	font-weight: normal;
	text-align: left;
}
.tableblueboxgreytext
{
	background-color:#e4eff9;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:8px;
	FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: Verdana;
}
.tablewhitebox
{
	background-color:#FFFFFF;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:8px;
	FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: Verdana;
}
.tablewhiteboxbluetext
{
	background-color:#FFFFFF;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:8px;
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	font-weight: normal;
	text-align: left;
}
.bluesubheading
{
	FONT-SIZE: 12px;
	COLOR:#006699;
	FONT-FAMILY: Verdana;
	font-weight: normal;
}
.tablebluetopbg {

	background-color:#e8f1fa;
	padding-left:5px;
	FONT-SIZE: 10px;
	COLOR: #464646;
	FONT-FAMILY: Verdana;
	height: 22px;
	vertical-align: top;
	padding-bottom: 3px;
}
.leftnavunderline
{
    FONT-SIZE: 11px;
    COLOR: #006699;
    FONT-FAMILY: Verdana;
	text-decoration:underline;
}
.leftnav2
{
    FONT-SIZE: 11px;
    COLOR: #666666;
    FONT-FAMILY: Verdana;
	text-decoration:none;
}

.homeheading
{
    FONT-SIZE: 13.5px;
	font-weight:bold;
    COLOR: #006699;
    FONT-FAMILY:"Myriad Pro";
}
}
.bodytextbig2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: 666666;
}
.bodytextbiglinks2 {
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.bodytextbiglinks2 {
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 17px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.tableblueboxbluetext2 {
	background-color:#e4eff9;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:8px;
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	border-right-width: medium;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #FFFFFF;
	padding-right: 3px;
	font-weight: normal;
}
.tablewhitebox2 {
	background-color:#FFFFFF;
	padding-bottom:0px;
	padding-left:8px;
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding-right: 5px;
	line-height: normal;
	font-weight: normal;
}
.tablewhitebox3 {
	background-color:#FFFFFF;
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.smallorange {
	FONT-SIZE: 10px;
	font-weight:normal;
	COLOR: #CC6600;
	FONT-FAMILY: Verdana;
}
.float {
	float: left;
}
.whitetextsmall {
	FONT-SIZE: 6px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	font-weight: normal;
	text-align: left;
	line-height: normal;
}
.blueboxtext2 {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
}
.orange {
	FONT-SIZE: 12px;
	font-weight:normal;
	COLOR: #CC6600;
	FONT-FAMILY: Verdana;
}
INPUT[type=text]:focus {
	
}
INPUT[type=reset] {
	BORDER-RIGHT: #1b6cd1 1px solid; BORDER-TOP: #1b6cd1 1px solid; BORDER-LEFT: #1b6cd1 1px solid; COLOR: white; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; BORDER-BOTTOM: #1b6cd1 1px solid; background-image:url(esp/images/btn_bg.jpg); height:18px;
}
INPUT[type=button] {
	BORDER-RIGHT: #1b6cd1 1px solid; BORDER-TOP: #1b6cd1 1px solid; BORDER-LEFT: #1b6cd1 1px solid; COLOR: white; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; BORDER-BOTTOM: #1b6cd1 1px solid; background-image:url(esp/images/btn_bg.jpg); height:18px;
}
INPUT[type=button2] {
	BORDER-RIGHT: #1b6cd1 1px solid; BORDER-TOP: #1b6cd1 1px solid; BORDER-LEFT: #1b6cd1 1px solid; COLOR: white; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; BORDER-BOTTOM: #1b6cd1 1px solid; background-image:url(esp/images/btn_bg.jpg); height:18px;
}
INPUT[type=reset]:hover {
	BORDER-RIGHT: #265c9a 1px solid; BORDER-TOP: #265c9a 1px solid; BORDER-LEFT: #265c9a 1px solid; COLOR: white; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; BORDER-BOTTOM: #265c9a 1px solid; 
background-image:url(esp/images/btn_bg_over.jpg); height:18px;
}
INPUT[type=button]:hover {
	BORDER-RIGHT: #265c9a 1px solid; BORDER-TOP: #265c9a 1px solid; BORDER-LEFT: #265c9a 1px solid; COLOR: white; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; BORDER-BOTTOM: #265c9a 1px solid; 
background-image:url(esp/images/btn_bg_over.jpg); height:18px;
}

INPUT[type=button]:focus {
	BORDER-RIGHT: #265c9a 1px solid;
	BORDER-TOP: #265c9a 1px solid;
	BORDER-LEFT: #265c9a 1px solid;
	COLOR: white;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	BORDER-BOTTOM: #265c9a 1px solid;
	background-image:url(esp/images/btn_bg_over.jpg);
	height:18px;
}

INPUT[type=button2]:hover {
	BORDER-RIGHT: #265c9a 1px solid; BORDER-TOP: #265c9a 1px solid; BORDER-LEFT: #265c9a 1px solid; COLOR: white; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; BORDER-BOTTOM: #265c9a 1px solid; 
background-image:url(esp/images/btn_bg_over.jpg); height:18px;
}
INPUT[type=button2]:focus {
	BORDER-RIGHT: #265c9a 1px solid;
	BORDER-TOP: #265c9a 1px solid;
	BORDER-LEFT: #265c9a 1px solid;
	COLOR: white;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	BORDER-BOTTOM: #265c9a 1px solid;
	background-image:url(esp/images/btn_bg_over.jpg);
	height:18px;
}

/* SpryMenuBarVertical.css - Revision: Spry Preview Release 1.4 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, a fixed width box with no margin or padding */
ul.MenuBarVertical
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: 150px;
}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive
{
	z-index: 1000;
}
/* Menu item containers, position children relative to this container and are same fixed width as parent */
ul.MenuBarVertical li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 150px;
	height: 22px;
}
/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul.MenuBarVertical ul
{
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: absolute;
	z-index: 1020;
	cursor: default;
	width: 150px;
	left: -1000em;
	top: 0;
	margin-top: -5%;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 95%;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarVertical ul.MenuBarSubmenuVisible
{
	left: 0;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarVertical ul li
{
	width: 8.2em;
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/

/* Outermost menu container has borders on all sides */
ul.MenuBarVertical
{
	border: 1px solid #bacdeb;
	height: 22px;
	width: 150px;
}
/* Submenu containers have borders on all sides */
ul.MenuBarVertical ul
{
	border: 1px solid #bacdeb;
}
/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarVertical a
{
	display: block;
	cursor: pointer;
	background-color: #e4effa;
	color: #006699;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 185%;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 8px;
	height: 22px;
}
/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarVertical a:hover, ul.MenuBarVertical a:focus
{
	background-color: #d1e2f5;
	color: #006699;
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarVertical a.MenuBarItemHover, ul.MenuBarVertical a.MenuBarItemSubmenuHover, ul.MenuBarVertical a.MenuBarSubmenuVisible
{
	background-color: #d1e2f5;
	color: #006699;
	text-decoration: underline;
}

/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarVertical a.MenuBarItemSubmenu
{
	background-image: url(SpryAssets/SpryMenuBarRight.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarVertical a.MenuBarItemSubmenuHover
{
	background-image: url(SpryAssets/SpryMenuBarRightHover.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarVertical iframe
{
	position: absolute;
	z-index: 1010;
}
	ul.MenuBarVertical li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
		background: #FFF;
	}
ul.BarVertical {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: 176px;
}
ul.BarActive {
	z-index: 1000;
}
ul.BarVertical li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 176px;
}
ul.BarVertical ul {
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: absolute;
	z-index: 1020;
	cursor: default;
	width: 176px;
	left: -1000em;
	top: 0;
	margin-top: -5%;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 95%;
}
ul.BarVertical ul.BarSubmenuVisible {
	left: 0;
}
ul.BarVertical ul li {
	width: 8.2em;
}
ul.BarVertical {
	width: 176px;
}
ul.BarVertical ul {

}
ul.BarVertical a {
	display: block;
	cursor: pointer;
	background-color: #e4effa;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 7px;
	text-decoration: none;
	background-image: url(images/blue_arrow.gif);
	background-position: 97% 50%;
	background-repeat: no-repeat;
}
ul.BarVertical a:hover, ul.BarVertical a:focus {
	background-color: #d1e2f5;
	color: #666666;
}
ul.BarVertical a.BarItemHover, ul.BarVertical a.BarItemSubmenuHover, ul.BarVertical a.BarSubmenuVisible {
	background-color: #d1e2f5;
	color: #666666;
	text-decoration: none;
}
ul.BarVertical a.BarItemSubmenu {
	background-image: url(images/blue_arrow.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
ul.BarVertical a.BarItemSubmenuHover {
	background-image: url(images/blue_arrow.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
ul.BarVertical iframe {
	position: absolute;
	z-index: 1010;
}
ul.BarVertical li.BarItemIE {
	display: inline;
	f\loat: left;
	background: #FFF;
}
.a30:link {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a30:visited {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a30:hover {
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:underline;
	cursor:hand;
}
.a30:focus {
	FONT-SIZE: 12px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
}
.a23:link {
	FONT-SIZE: 11px;
	COLOR: #333333;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	line-height: 13px;
}
.a23:visited {
	FONT-SIZE: 11px;
	COLOR: #333333;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	line-height: 13px;
}
.a23:hover {
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:underline;
	cursor:hand;
	line-height: 13px;
}
.a23:focus {
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
	line-height: 13px;
}
.a24:link {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	color: #006699;
	line-height: 12px;
}
.a24:visited {
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a24:hover {
	FONT-SIZE: 11px;
	COLOR: #003366;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
}
.a24:focus {
	FONT-SIZE: 11px;
	COLOR: #003366;
	FONT-FAMILY: Verdana;
	text-decoration:none;
	cursor:hand;
}
.a25 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	line-height: 12px;
	background-image: url(images/secure_back.jpg);
	cursor: pointer;
}


.a25:visited {
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a25:hover {
	cursor:hand;
	background-image: url(images/secure_back2.jpg);
	color: #003366;
}
.a25:focus {
	cursor:hand;
	background-image: url(images/secure_back2.jpg);
	color: #003366;
}
.a26 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	line-height: 12px;
	background-image: url(esp/images/secure_back.jpg);
	cursor: pointer;
}
.a26:visited {
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a26:hover {
	cursor:hand;
	background-image: url(esp/images/secure_back2.jpg);
	color: #003366;
}
.a26:focus {
	cursor:hand;
	background-image: url(images/secure_back2.jpg);
	color: #003366;
}
.newbox {
	background-color:#e4eff9;
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 13px;
	padding-left: 15px;
}
.dotted_sep3 {
	BACKGROUND-POSITION: center bottom;
	BACKGROUND-IMAGE: url(esp/images/dotted_vertical2.jpg);
	BACKGROUND-REPEAT: repeat-x
}
.headx {
	text-decoration: none;
	background-attachment: scroll;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	display: block;
	font-weight: normal;
	color: #006699;
	background-color: #E4EFF9;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.highllight {
	FONT-WEIGHT: normal;
	LETTER-SPACING: 0px;
	TEXT-DECORATION: none;
	background-color: #FFFF00;
}
.orange2 {
	FONT-SIZE: 11px;
	font-weight:normal;
	COLOR: #da6116;
	FONT-FAMILY: Verdana;
}
.a27 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	line-height: 12px;
	background-image: none;
	cursor: pointer;
	text-decoration: none;
}
.a27:visited {
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
	text-decoration:none;
}
.a27:hover {
	cursor:hand;
	color: #003366;
	text-decoration: underline;
}
.a27:focus {
	cursor:hand;
	color: #003366;
	text-decoration: underline;
}
.a27:link {
	FONT-SIZE: 11px;
	COLOR: #006699;
	FONT-FAMILY: Verdana;
}
.bodytextbig_underline {
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.black_new {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 16px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.body2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: 666666;
}
/* CSS Document */


.pointer {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}

/* CSS Document */

.button {
	background-color: #006699;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 22px;
	width: 22px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.button:hover {
	background-color: #003264;
	font-family: Arial, Helvetica, sans-serif;
}




.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #006699;
}
.field {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 20px;
	width: 111px;
	line-height: 13px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
}
.field:hover {
	margin: 0px;
	padding: 0px;
	color: #000000;
	border: 1px solid #666666;
	background-color: #F3F3F3;
}
.footertext2 {
	FONT-SIZE: 11px;
	COLOR: #5c5c5c;
	FONT-FAMILY: Verdana;
	font-weight: normal;
	line-height: 15px;
}
.button_b {
	background-color: #0E6AAD;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	width: 48px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.button_b:hover {
	background-color: #0099CC;
	height: 22px;
	width: 48px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.smalltext_login {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}
.smalltext_login:hover {
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}
.bodytextbig_login {
	FONT-SIZE: 14px;
	COLOR: #666666;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
.bodytextbig_login:hover {
	FONT-SIZE: 14px;
	COLOR: #000000;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
.learn_login {
	FONT-WEIGHT: normal;
	FONT-SIZE: 14px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.learn_login:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 14px;
	COLOR: #003366;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.security_login {
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	background-image: url(images/security_login.jpg);
	text-decoration: none;
	cursor: pointer;
	background-repeat: no-repeat;
	padding-right: 13px;
	padding-top: 7px;
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.security_login:hover {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	background-image: url(images/security_login_over.jpg);
	text-decoration: none;
	background-repeat: no-repeat;
}

.field_b {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 20px;
	width: 107px;
	line-height: 13px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
}
.field_b:hover {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 20px;
	width: 107px;
	line-height: 13px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
	background-color: #EBEBEB;
	border: 1px solid #666666;
}
.bodytextbig_login_spa {
	FONT-SIZE: 13px;
	COLOR: #666666;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
.bodytextbig_login_spa:hover {
	FONT-SIZE: 13px;
	COLOR: #000000;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}

.learn_login_spa {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	COLOR: #006699;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.learn_login_spa:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	COLOR: #003366;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.field_b_spa {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 20px;
	width: 100px;
	line-height: 13px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
}
.field_b_spa:hover {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 20px;
	width: 100px;
	line-height: 13px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
	background-color: #EBEBEB;
	border: 1px solid #666666;
}
.button_b_spa {
	background-color: #0E6AAD;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	width: 55px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.button_b_spa:hover {
	background-color: #0099CC;
	height: 22px;
	width: 55px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.security_login_spa {
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	background-image: url(esp/images/security_login2.jpg);
	text-decoration: none;
	cursor: pointer;
	background-repeat: no-repeat;
	padding-right: 13px;
	padding-top: 7px;
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.security_login_spa:hover {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	background-image: url(esp/images/security_login2_over.jpg);
	text-decoration: none;
	background-repeat: no-repeat;
}
.a21 {
	font-size: 9px;
	position: relative;
	bottom: 5px;
}
.sup {
	font-size: 9px;
	position: relative;
	bottom: 5px;
}
.sup2 {
	font-size: 9px;
	position: relative;
	bottom: 5px;
	color: #006699;
}
.highlight {
	background-color: #66FF66;
}
.bodytextbig_indent {
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 35px;
}

.button_c {
	background-color: #0E6AAD;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 22px;
	width: 55px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.button_c:hover {
	background-color: #003F75;
	font-family: Arial, Helvetica, sans-serif;
}
.field_c {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 22px;
	width: 105px;
	line-height: 12px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.field_c:hover {
	margin: 0px;
	padding: 0px;
	background-color: #E6F0FA;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.button_c_esp {
	background-color: #0E6AAD;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 22px;
	width: 65px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.button_c_esp:hover {
	background-color: #003264;
	font-family: Arial, Helvetica, sans-serif;
}

.field_c_esp {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 22px;
	width: 95px;
	line-height: 12px;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
}
.field_c_esp:hover {
	margin: 0px;
	padding: 0px;
	color: #000000;
	border: 1px solid #666666;
	background-color: #F3F3F3;
}
.whitetext_big {
	FONT-SIZE: 15px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	line-height: 15px;
}
.smalltext5 {
	FONT-SIZE: 9px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: normal;
}
.smalltext5:link {
	COLOR: #006699;
	text-decoration: none;
}
.smalltext5:hover {
	COLOR: #004175;
	text-decoration: underline;
}
.smalltext5:visited {
	COLOR: #006699;
	text-decoration: underline;
}




.smalltext6 {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 16px;
}
.smalltext7 {
	FONT-SIZE: 9px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 9px;
	margin: 0px;
	padding: 0px;
}

.smalltext7:link {
	COLOR: #666666;
	text-decoration: none;
}
.smalltext7:hover {
	COLOR: #003F75;
	text-decoration: underline;
	cursor: pointer;
}



.bodytextbig_login2 {
	FONT-SIZE: 14px;
	COLOR: #666666;
	LINE-HEIGHT: 19px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
.security_loginb {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(images/security_loginbx.jpg);
	text-decoration: none;
	cursor: pointer;
	background-repeat: no-repeat;
	padding-right: 0px;
	padding-top: 0px;
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.security_loginb:hover {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Verdana;
	background-image: url(images/security_loginbx_over.jpg);
	text-decoration: none;
	background-repeat: no-repeat;
}
.blue_border {
	FONT-WEIGHT: normal;
	text-decoration: none;
	border: 1px solid #0069AA;
}
.userid {
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 12px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.shadow {
	background-image: url(images/2.jpg);
	background-repeat: repeat;
}
.smalltext6_esp {
	FONT-SIZE: 10px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 16px;
	margin: 0px;
	padding: 0px;
}
.smalltext5_esp {
	FONT-SIZE: 8px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 17px;
	margin: 0px;
	padding: 0px;
}

.smalltext5_esp:link {
	COLOR: #006699;
	text-decoration: none;
}
.smalltext5_esp:hover {
	COLOR: #004175;
	text-decoration: underline;
}
.smalltext5_esp:visited {
	COLOR: #006699;
	text-decoration: underline;
}
