body {
  font-family: 'Open Sans', sans-serif;
  color: #494949;
  font-size: 14px;
  line-height: 20px;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero {
  height: 495px;
  padding: 60px 0px;
  background-image: url('../../ppp - Copy/images/digital-wallet-hero-main.jpg') , -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f2f2f2));
  background-image: url('../../ppp - Copy/images/digital-wallet-hero-main.jpg') , linear-gradient(180deg, #f2f2f2, #f2f2f2);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

.hero.blue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 415px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#002e5f), to(#002e5f));
  background-image: linear-gradient(180deg, #002e5f, #002e5f);
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #004a98;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.nav {
  width: 100%;
  height: 34px;
  text-align: right;
}

.nav-link {
  display: inline;
  padding: 0px 10px 0px 13px;
  color: #494949;
  line-height: 34px;
  font-style: normal;
}

.nav-link:hover {
  color: #004a98;
}

.nav-link.nolink {
  padding-right: 0px;
  padding-left: 0px;
}

.hero-txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 200px;
  padding-left: 183px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../../ppp - Copy/images/pps-icon.svg');
  background-position: 0% 50%;
  background-size: 130px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 48px;
  line-height: 1.3em;
  font-weight: 600;
  text-align: left;
}

.container {
  padding-right: 50px;
  padding-left: 50px;
}

.h2 {
  display: block;
  width: 80%;
  margin: 60px auto 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #004a98;
  font-size: 36px;
  line-height: 1.5em;
  font-weight: 400;
  text-align: center;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 382px;
  min-height: 200px;
  padding: 40px 0px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.h3 {
  min-height: 2.4em;
  color: #000;
  font-size: 21px;
  line-height: 1.2em;
  font-weight: 600;
  text-align: center;
}

.h3.regular {
  margin-top: 0px;
  font-size: 26px;
  line-height: 1.7em;
  font-weight: 300;
}

.p-feature {
  margin-top: -15px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
}

.inline-gal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 200px;
  margin-top: 40px;
  margin-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.gal-pic {
  max-height: 195px;
  max-width: 33.33333333333%;
}

.feat-icon {
  height: 55px;
}

.content {
  display: block;
  padding-top: 54px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #f8f8f8;
}

.method {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 30px;
  border-bottom: 1px solid #c4c4c4;
}

.method.last {
  margin-bottom: 70px;
}

.pay-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.heading {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
  font-weight: 600;
}

.larger {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
}

.larger.li {
  padding: 4px 0px;
}

.larger.li.note {
  padding-top: 22px;
}

.foot-notes {
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 1px solid #e5e5e5;
  font-size: 11px;
  line-height: 1.5em;
  font-weight: 300;
}

.sub {
  position: relative;
  bottom: 4px;
  margin-right: 3px;
  padding-left: 3px;
  color: #000;
  font-size: 10px;
  font-weight: 400;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  max-width: 937px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #fff;
  line-height: 50px;
}

.foot-link {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #fff;
  color: #fff;
  line-height: 1.2em;
  font-weight: 400;
}

.foot-link:hover {
  opacity: 0.85;
}

.foot-link.last {
  border-right-width: 0px;
}

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #5c636a;
}

.disclaimer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 938px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  height: 40px;
  padding-right: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.icon-social {
  width: 30px;
  height: 40px;
  border: 0px solid #000;
}

.icon-social:hover {
  opacity: 0.85;
}

.icon-fdic {
  display: inline-block;
  width: 20px;
  height: 25px;
  margin-right: 5px;
  margin-left: 10px;
  background-image: url('../../ppp - Copy/images/icon-fdic-member.svg');
  background-position: 0px 0px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  opacity: 1;
  color: hsla(0, 0%, 100%, 0);
}

.copy {
  margin-bottom: 0px;
  font-size: 11px;
  font-weight: 300;
}

.mini-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mini-li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  padding-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border-right: 1px solid #004a98;
  color: #004a98;
  font-size: 11px;
  line-height: 1.2em;
  font-weight: 300;
  text-decoration: underline;
}

.mini-li:hover {
  color: #002e5f;
}

.mini-li.last {
  border-right-width: 0px;
}

.head-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-container {
  padding-right: 30px;
  padding-left: 30px;
}

.hero-container.center {
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.air-20 {
  height: 20px;
}

.tab-method {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1px;
  padding: 40px 0px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #dfdfdf;
  background-color: #fff;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
  cursor: pointer;
}

.tab-method:hover {
  background-color: #f3f3f3;
}

.tab-method.w--current {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-color: #029ada #dfdfdf #fff;
  border-right-style: solid;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#fff));
  background-image: linear-gradient(180deg, #f1f1f1, #fff);
  background-position: 0px 0px;
  background-size: auto;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tabs-content {
  width: 100%;
  padding: 40px 20px;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.li {
  font-size: 16px;
  font-weight: 300;
}

.under {
  text-decoration: underline;
}

.device {
  height: 80px;
}

.device-logo {
  height: 28px;
}

.form-container {
  padding-right: 50px;
  padding-left: 50px;
}

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.form-row.input {
  margin-bottom: 20px;
  border-radius: 3px;
}

.form {
  margin-bottom: 50px;
  padding: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  border-radius: 8px;
  background-color: #f3f3f3;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
}

.submit-button {
  width: 100%;
  padding: 12px 30px;
  border-radius: 3px;
  background-color: #004a98;
  font-size: 16px;
  font-weight: 700;
}

.light-blue-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 125px;
  margin-top: 29px;
  padding: 40px 54px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #0079b6;
  color: #fff;
  font-size: 30px;
  line-height: 1.3em;
}

.air-30 {
  height: 30px;
}

.paragraph-4 {
  font-size: 29px;
}

@media screen and (max-width: 991px) {
  .hero {
    height: 289px;
    padding: 50px 0px;
    background-image: url('../../ppp - Copy/images/digital-wallet-hero-main.jpg') , -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url('../../ppp - Copy/images/digital-wallet-hero-main.jpg') , linear-gradient(180deg, transparent, transparent);
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
  }
  .hero.blue {
    min-height: 400px;
  }
  .brand {
    margin-top: 0px;
  }
  .nav-link {
    padding-right: 13px;
  }
  .hero-txt {
    padding-left: 156px;
    background-size: 106px;
    font-size: 40px;
  }
  .inline-gal {
    max-height: 145px;
    margin-bottom: 70px;
  }
  .gal-pic {
    max-height: 158px;
  }
  .content {
    padding: 40px;
  }
  .copyright {
    height: auto;
  }
  .social {
    width: 140px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .icon-social {
    width: 25px;
    height: 25px;
  }
  .air-20 {
    height: 20px;
  }
  .device-logo {
    height: 22px;
  }
  .form-row.input {
    border-radius: 3px;
  }
  .form {
    padding: 30px 40px 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-right: 30px;
    padding-left: 30px;
  }
  .hero {
    height: 225px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url('../../ppp - Copy/images/digital-wallet-hero-main.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
  .hero.blue {
    min-height: 327px;
  }
  .brand {
    position: relative;
    display: block;
  }
  .logo-holder {
    position: relative;
    z-index: 150;
    width: 45%;
    height: 40px;
    padding-top: 5px;
  }
  .nav {
    width: 55%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    line-height: 14px;
  }
  .nav-link {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-txt {
    min-height: 129px;
    padding-left: 124px;
    background-size: 91px;
    font-size: 32px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .h2 {
    font-size: 26px;
  }
  .feature {
    min-height: 180px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .h3 {
    min-height: 2.2em;
    font-size: 16px;
    line-height: 1.1em;
  }
  .p-feature {
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
  }
  .inline-gal {
    max-height: 110px;
  }
  .feat-icon {
    height: 45px;
  }
  .content {
    padding: 0px 20px 20px;
  }
  .method {
    padding-right: 30px;
    padding-left: 30px;
  }
  .method.last {
    margin-bottom: 55px;
  }
  .pay-logo {
    height: auto;
    min-height: 0px;
  }
  .heading {
    font-size: 15px;
  }
  .larger {
    font-size: 14px;
  }
  .foot-notes {
    padding-bottom: 30px;
  }
  .footer {
    display: block;
  }
  .nav-container {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 13px;
    text-align: center;
  }
  .foot-link {
    padding-right: 0px;
    border-right-width: 0px;
    line-height: 1.5em;
  }
  .disclaimer {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .copyright {
    display: block;
    width: 100%;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .social {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .icon-social {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 10px;
  }
  .copy {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 13px;
    line-height: 1.5em;
    text-align: center;
  }
  .mini-links {
    height: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }
  .mini-li {
    font-size: 12px;
  }
  .mini-li.last {
    padding-right: 0px;
  }
  .head-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .hero-container.center {
    padding: 20px 20px 0px;
  }
  .paragraph {
    line-height: 1.7em;
  }
  .tab-method {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tabs-content {
    padding: 35px;
  }
  .li {
    margin-bottom: 15px;
  }
  .device {
    height: 48px;
  }
  .device-logo {
    height: 18px;
  }
  .form-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .form-row.input {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .form {
    padding-right: 40px;
    padding-left: 40px;
  }
  .submit-button {
    margin-top: 15px;
  }
  .light-blue-box {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .paragraph-3 {
    font-size: 21px;
  }
  .paragraph-4 {
    font-size: 23px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70px;
  }
  .hero {
    height: 210px;
    padding-top: 29px;
    padding-bottom: 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0.85)), color-stop(72%, hsla(0, 0%, 100%, 0))), url('../../ppp - Copy/images/digital-wallet-hero-main.jpg');
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.85), hsla(0, 0%, 100%, 0) 72%), url('../../ppp - Copy/images/digital-wallet-hero-main.jpg');
    background-position: 0px 0px, 77% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .hero.blue {
    min-height: 389px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .brand {
    overflow: hidden;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 16px;
  }
  .logo-holder {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: auto;
    height: 34px;
    min-width: 34px;
    float: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -o-object-fit: none;
    object-fit: none;
  }
  .nav {
    display: inline-block;
    width: auto;
    float: right;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .nav-link {
    font-size: 12px;
  }
  .logo {
    max-width: 222px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .hero-txt {
    margin-top: 0px;
    padding-top: 105px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: 50% 0%;
    background-size: 88px;
    font-size: 30px;
    text-align: center;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .h2 {
    width: 100%;
    font-size: 26px;
    line-height: 1.5em;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature {
    width: 100%;
    max-width: 100%;
    padding: 30px 0px 20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .h3 {
    font-size: 18px;
  }
  .h3.regular {
    font-size: 20px;
  }
  .p-feature {
    padding-right: 0px;
    padding-left: 0px;
  }
  .inline-gal {
    max-height: 57px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .content {
    padding-top: 22px;
  }
  .content.ptabs {
    padding: 0px;
  }
  .content.instr {
    padding: 0px;
  }
  .method {
    padding: 0px 30px 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .method.last {
    margin-bottom: 50px;
    padding-top: 10px;
  }
  .pay-logo {
    height: auto;
    min-height: 0px;
    margin-top: 0px;
    margin-right: 0px;
  }
  .heading {
    margin-bottom: 10px;
  }
  .larger.li {
    font-size: 16px;
  }
  .nav-container {
    height: auto;
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: left;
  }
  .foot-link {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-right-width: 0px;
    font-size: 14px;
    line-height: 2.5em;
  }
  .footer-nav {
    height: auto;
    max-height: 500px;
  }
  .disclaimer {
    max-width: 937px;
  }
  .copyright {
    padding-right: 0px;
    padding-left: 0px;
  }
  .social {
    width: 100%;
  }
  .copy {
    height: auto;
  }
  .mini-links {
    margin-top: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .mini-li {
    min-height: 2.4em;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #004a98;
  }
  .head-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .hero-container.center {
    padding: 26px 20px 0px;
  }
  .air-20 {
    height: 10px;
  }
  .copy-brand {
    display: block;
    padding-bottom: 5px;
  }
  .tab-method {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .tabs-content {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .device {
    height: 50px;
  }
  .device-logo {
    height: 14px;
  }
  .form-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .form-row {
    min-height: 26px;
  }
  .form-row.input {
    min-height: 45px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .form {
    padding: 15px 10px;
  }
  .submit-button {
    margin-top: 12px;
  }
  .light-blue-box {
    padding: 30px 20px 20px;
    background-color: #0079b6;
  }
  .paragraph-3 {
    font-size: 21px;
    line-height: 1.25em;
  }
  .paragraph-4 {
    line-height: 1.3em;
  }
}

